<div class="row my-raffle-section">
    <div class="col-md-12">
        <div class="main_heading">
        <h4><img src="assets/images/user.svg">{{'my_raffles' | translate }}</h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="sub_heading">
        <h2>{{'chance_to' | translate}} <span>{{'win' |translate}}</span></h2>
        </div>
    </div>
    <div class="col-md-12">
        <div class="myRaffleSec">
            <app-my-raffles-swiper></app-my-raffles-swiper>
        </div>
    </div>
</div>
