<div class="modal-body">
  <button
  type="button"
  class="close"
  aria-label="Close"
  (click)="activeModalClose()"

  >
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="page">

    <div class="form-container section-title">
      <img
        class="login-logo-img"
        alt=""
        src="assets/images/logo_r.svg"
      />

      <div class="form-title" style="text-align: center;">
        <p class="login-description">
          {{'thank_you_you_are_lucky' | translate |uppercase}}
        </p>
        <h2 style="color: #180D1D;" class="">{{'thank_you_thank_you_for_part_1' |translate |uppercase}} <br> {{'thank_you_thank_you_for_part_2' |translate | uppercase}} </h2>
        <div>
          <img src="assets/images/Rocket.png" style="width: 55%;">
        </div>
        <a [routerLink]="accountService.connectedUser ? ['/my-account/my-raffles'] : ['/home']" [queryParams]="accountService.connectedUser ? '' : {isActive:'true'}"  (click)="activeModal.dismiss('Cross click')">
         
          <button
            class="btn-rounded btn-login mt-3"
            type="submit"
          >
            <span *ngIf="loading; else loginText">Loading</span>
            <ng-template #loginText>
              <span (click)="activeModal.dismiss('Cross click')" [attr.data-hover]="'thank_you_see_all_raffle' | translate |uppercase">{{"thank_you_see_all_raffle" | translate | uppercase}}</span>
            </ng-template>
          </button></a>
          <!-- <div>
            <img src="assets/images/modals/forget_tablet.png" style="width: 40%;">
          </div> -->
      </div>
      <!-- <button style="width: 275px; margin-bottom: 5px;" class="btn-rounded btn-varify mt-1" (click)="openToPurchase()">{{'Start_Purchasing' | translate}}</button> -->
    </div>
  </section>
  <div class="forgot-pass-img">
    <!-- <img class="d-xl-none" alt="" src="assets/images/2raffle-logo.svg" /> -->
  </div>
</div>