<!-- Homepage -->
<div class="page home-page">

  <!-- Cover -->
  <section class="section-cover">
    <div class="swiper-container" [swiper]="homepageCoverSlider">
      <div class="swiper-wrapper">
        <div *ngFor="let slide of coverSlides" class="swiper-slide">
          <img class="slide-image d-none d-xl-block" [src]="slide?.imgDesktop">
          <img class="slide-image d-xl-none" [src]="slide?.imgMobile">
          <div class="content">
            <div class="awards">
              <img *ngFor="let award of slide.awards" class="award-image" [src]="award.src">
            </div>
            <div class="text-container">
              <!-- <p [attr.data-stroke-text]="'your_day' | translate">{{'your_day' | translate}}</p> -->
              <!-- Animated outlines option -->
              <div class="cover-title">
                <svg>
                  <symbol id="cover-text">
                    <text dy=".35em" text-anchor="middle" x="50%" y="50%">{{'your_day' | translate | uppercase}}</text>
                  </symbol>
                  <use class="text text-b" xlink:href="#cover-text"></use>
                  <use class="text" xlink:href="#cover-text"></use>
                </svg>
              </div>
            </div>
            <div class="btns-container" *ngIf="!connectedUser">
              <button type="button" class="btn-rounded" (click)="register()">
                <span [attr.data-hover]="'sign_up_now' | translate">{{'sign_up_now' | translate}}</span>
              </button>
              <button type="button" class="btn-rounded btn-outlined-white" (click)="login()">
                <span [attr.data-hover]="'join_now' | translate | uppercase">
                  {{'join_now' | translate | uppercase}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Bottom V shape -->
    <img class="bottom-shape d-none d-xl-block" src="assets/images/cover-slider/bottom-shape.svg">
    <img class="bottom-shape d-xl-none" src="assets/images/cover-slider/bottom-shape-mobile.svg">

    <!-- Scroll down -->
    <button class="btn-scroll-down" type="button" (click)="scroll()">
      <span>{{'scroll_dwn' | translate | uppercase}}</span>
      <img class="arrow" src="assets/images/cover-slider/scroll-down-arrow.svg">
    </button>
  </section>

  <!-- Our Raffles -->
  <a #raffles></a>
  <app-raffles-swiper></app-raffles-swiper>

  <!-- How To Win -->
  <app-how-to-win></app-how-to-win>

  <!-- Daily deals -->
<!--  <app-daily-deals></app-daily-deals>-->

</div>
