<div class="modal-body flex-column payment-modal">
    <header>
      <img src="../../../assets/images/payment-logo.png" />
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </header>
    <section class="page fp-pb">
      <div class="form-container section-title h-100 justify-content-between">
        <div
          class="form-title mt-xl-0 mb-xl-4 d-flex flex-column justify-content-center w-100 align-items-center"
        >
          <h2 class="section-title">User Not Verified</h2>
          <img src="../../../assets/images/cancel.png" alt="">
          <p
            class="login-description mt-2 mb-2 mb-xl-0 mail-description"
            style="font-size: 18px"
          >
          To purchse, you have to verify your registered mail, see your inbox for the verification mail
          </p>
        </div>
        <button class="btn-rounded btn-login mb-3" (click)="activeModal.dismiss('Cross click')">
            <span [attr.data-hover]="'Close' | translate">Close</span>
          </button>
        
      </div>
    </section>
  </div>
  