<!-- <div class="modal-body flex-column winner-modal">
  <button
    type="button"
    class="close"
    aria-label="Close"
    style="z-index: 999"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <video
    autoplay
    muted
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    (ended)="showWinner()"
    
  >
    <source src="assets/video/winning_popup.mp4" type="video/mp4" />
  </video>

      <div *ngIf="showraffleWinner">
    <p class="winner_subtitle">{{ "The_winner_is" | translate }}</p>
    <p class="winner_ticket_text" id="winnerTicketId">#{{ winnerTiketId }}</p>
    <p class="winner_static_text">({{ "winner_ticket_no" | translate }})</p>
  </div>
</div> -->
<div class="modal-body flex-column winner-modal">
  <button
  style="z-index: 999;"
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <!-- <span aria-hidden="true">&times;</span> -->
  </button>
    <p class="winner_subtitle">{{'congratulations_winning_page' | translate}}</p>
    <div [innerHTML]="htmlContent" style="display: flex; justify-content: center;align-items: center;"></div>
    <!-- <video playsinline autoplay="autoplay" muted loop="true" preload id="video-banner" class="logo-video animated fadeInUp how_to_win_main"></video> -->
    <!-- <video playsinline autoplay="autoplay" [muted]="true" preload style="width:100%"  (ended)="showWinner()">
      <source src="assets/video/winning_popup.mp4" type="video/mp4" >
    </video> -->
 
  <div id="winnerDiv">
    <p class="winner_subtitle">{{'The_winner_is' | translate}}</p>
      <p class="winner_ticket_text" id="winnerTicketId" >#{{winnerTiketId}}</p>
      <p class="winner_static_text">({{'winner_ticket_no' | translate}})</p>
  </div>
</div>