<section
  class="section-daily-deals"
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
  data-aos-delay="1000"
  data-aos-duration="1500"
  data-aos-easing="ease-in-out"
  data-aos-mirror="false"
  data-aos-offset="200"
  data-aos-once="false"
>

  <!-- Section Title -->
  <div class="section-title">
    <svg>
      <symbol id="daily-deals-text">
        <text dy=".35em" text-anchor="middle" x="50%" y="50%">{{ 'daily_deals' | translate | uppercase }}</text>
      </symbol>
      <use class="text text-b" xlink:href="#daily-deals-text"></use>
      <use class="text" xlink:href="#daily-deals-text"></use>
      <use class="text" xlink:href="#daily-deals-text"></use>
      <use class="text" xlink:href="#daily-deals-text"></use>
      <use class="text" xlink:href="#daily-deals-text"></use>
      <use class="text" xlink:href="#daily-deals-text"></use>
    </svg>
  </div>

  <!-- Our raffles slider -->
  <div class="daily-deals-slider">
    <div [swiper]="dailyDealsSlider" class="swiper-container">
      <div class="swiper-wrapper">

        <div *ngFor="let deal of deals" class="swiper-slide">
          <div class="coupon-item">
            <div class="coupon-image">
              <img [src]="deal?.background">
            </div>
            <div class="coupon-text">
              <p class="value">{{deal?.value + '%'}}</p>
              <p class="discount">{{'discount' | translate}}</p>
              <p>{{'get_code' | translate}}</p>
              <a class="btn-rounded btn-black" href="#">
                <span [attr.data-hover]="'get_now' | translate">{{'get_now' | translate}}</span>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-prev daily-deals-button-prev">
        <img src="assets/images/daily-deals/arrow-left.svg">
      </div>
      <div class="swiper-button-next daily-deals-button-next">
        <img src="assets/images/daily-deals/arrow-right.svg">
      </div>
    </div>
  </div>
</section>
