//////////////////////////////////////////
// Calculator page
//////////////////////////////////////////

.calculator-page {
  position: relative;
  min-height: 100vh;
  background-color: #232323;

  .background-blur-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 0;
  }

  .collapsed {
    @include media-breakpoint-up(xl) {
      padding-left: 15.903vw !important;
      padding-right: 15.903vw !important;
      justify-content: flex-start !important;
      .calculator-container {
        width: auto !important;
        max-width: 21.111vw !important;
        grid-template-areas: "tickets" !important;
        grid-template-columns: 1fr !important;
        .calculator-sub-section {
          flex: initial !important;
        }
        .odd-gauge-container {
          right: 0 !important;
          left: 0 !important;
          margin: auto !important;
          top: -13.7vw !important;
        }
      }
    }
  }

  .hide {
    @include media-breakpoint-down(sm) {
    }
    @include media-breakpoint-up(xl) {
      display: none !important;
    }
  }
  .xsHide {
    display: none;
    @include media-breakpoint-up(md) {
      display: initial;
    }
  }
  .xsHide2 {
    display: none;
    @include media-breakpoint-up(md) {
      display: initial;
    }
  }
  .show {
    display: block !important;
  }
  .buy {
    display: none;
  }

  //////////////////////////////////////////
  // Content section
  //////////////////////////////////////////

  section.content-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    z-index: 1;
    min-height: calc(100vh - #{$header-height-mobile});
    align-items: flex-end;
    @include media-breakpoint-between(md, lg) {
      min-height: calc(100vh - #{$header-height-mobile});
    }
    @include media-breakpoint-up(xl) {
      height: initial;
      align-items: initial;
      padding: 16.667vw 0 9.722vw;
    }

    .calculator-container {
      margin-top: calc(32.813vw + #{$header-height-mobile});
      position: relative;
      display: grid;
      grid-template-areas: "raffle" "invest";
      grid-template-columns: 1fr;
      width: 100%;
      background-color: #fff;
      max-width: 83.594vw;
      margin-bottom: 7.813vw;
      padding: 33.125vw 4.219vw 5vw 4.219vw;
      @include media-breakpoint-between(md, lg) {
        margin-top: calc(32.813vw + #{$header-height});
        margin-bottom: 4.608vw;
        max-width: 87.24vw;
        padding: 3.922vw 5.882vw 3.137vw 4.412vw;
        grid-template-areas:
          "raffle invest"
          "raffle tickets";
        grid-template-columns: repeat(2, 1fr);
      }
      @include media-breakpoint-up(xl) {
        margin-top: 9.7vw;
        margin-bottom: initial;
        padding: 0;
        max-width: 66.806vw;
        grid-template-areas: "raffle invest tickets";
        grid-template-columns: repeat(3, 1fr);
      }

      .calculator-sub-section {
        &.collapsed {
          width: auto !important;
          .calculator-sub-section {
            flex: initial !important;
          }
          .odd-gauge-container {
            right: 0 !important;
            left: 0 !important;
            margin: auto !important;
          }
        }

        &:nth-child(2) {
          @include media-breakpoint-up(md) {
            border-left: 2px solid #dbdbdb;
            border-right: 2px solid #dbdbdb;
          }
          @include media-breakpoint-between(md, lg) {
            border: none;
          }
        }

        .dropdown {
          margin-bottom: 1.25rem;
        }

        p {
          margin-bottom: 0;
          font-weight: bold;
          line-height: 1.15;
          @include media-breakpoint-up(md) {
            font-size: 1.693vw;
          }
          @include media-breakpoint-up(xl) {
            font-size: 0.903vw;
          }
        }

        .label-large {
          // margin-top: 3.594vw;
          margin-bottom: 0;
          font-size: 6.25vw;
          font-family: "Gellix", sans-serif;
          font-weight: 900;
          line-height: 1.22;
          color: $brand-color-red;
          @include media-breakpoint-up(md) {
            margin-top: 1.042vw;
            font-size: 2.344vw;
          }
          @include media-breakpoint-up(xl) {
            margin-top: 0.556vw;
            font-size: 1.25vw;
          }
        }

        .label-small {
          margin-bottom: 0;
          font-size: 5.313vw;
          font-family: "Gellix", sans-serif;
          font-weight: 900;
          line-height: 1.21;
          color: $brand-color-red;
          @include media-breakpoint-up(md) {
            font-size: 1.823vw;
          }
          @include media-breakpoint-up(xl) {
            font-size: 0.972vw;
          }
        }

        .seperator {
          margin-top: 2.109vw;
          margin-bottom: 2.188vw;
          height: 3px;
          background-color: #dbdbdb;
          @include media-breakpoint-up(md) {
            margin-top: 0.781vw;
            margin-bottom: 1.823vw;
          }
          @include media-breakpoint-up(xl) {
            margin-top: 0.417vw;
            margin-bottom: 0.972vw;
          }
        }

        .raffle-countdown {
          margin-top: 5px;
          .flipdown {
            margin-bottom: 2.25rem;
            text-align: unset;
            .rotor-group {
              font-size: 6.213vw;
              @include media-breakpoint-up(md) {
                font-size: 2.995vw;
              }
              @include media-breakpoint-up(xl) {
                font-size: 1.597vw;
              }

              .rotor-leaf-front,
              .rotor-leaf-rear {
                font-size: 6.25vw;
                @include media-breakpoint-up(md) {
                  font-size: 2.995vw;
                }
                @include media-breakpoint-up(xl) {
                  font-size: 1.597vw;
                }
              }

              .rotor-group-heading {
                &:before {
                  font-weight: bold;
                  font-size: 3.438vw;
                  @include media-breakpoint-up(md) {
                    font-size: 1.302vw;
                  }
                  @include media-breakpoint-up(xl) {
                    font-size: 0.694vw;
                  }
                }
              }
            }
          }
        }

        .participants-count {
          font-family: "Gellix", sans-serif;
          font-size: 40px;
          font-weight: 900;
          line-height: 1.2;
          color: $brand-color-dark;
          @include media-breakpoint-up(md) {
            font-size: 5.208vw;
          }
          @include media-breakpoint-up(xl) {
            margin-bottom: 1.25rem;
            font-size: 2.778vw;
          }
        }

        .btn-group-toggle {
          display: flex;
          justify-content: space-between;
          @include media-breakpoint-up(md) {
            margin-bottom: 1.172vw;
          }
          @include media-breakpoint-up(xl) {
            margin-bottom: 0.833vw;
          }

          .btn-custom {
            font-family: "Gellix", sans-serif;
            font-weight: bold;
            flex: 0 0 calc((100% / 3) - 5px);
            line-height: 1.22;
            border: solid 1px #dbdbdb;
            background-color: #ececec;
            padding: 3.125vw 3.906vw 2.344vw 3.906vw;
            @include media-breakpoint-up(md) {
              padding: 0.375rem 0.75rem;
            }
            @include media-breakpoint-up(xl) {
              font-size: 1.25vw;
            }
          }
        }

        .label-large-black {
          margin-top: 0;
          margin-bottom: 0;
          color: $brand-color-dark;

          @include media-breakpoint-up(xl) {
            margin-bottom: 0.417vw;
          }
        }

        .form-control {
          height: unset;
          padding: 0.972vw;
          font-size: 1.111vw;
          font-weight: bold;
          line-height: 1.31;
          border: none;
          border: solid 2px #e1e1e1;

          @include media-breakpoint-between(md, lg) {
            display: inline-block;
            font-size: 1.111vw;
            font-size: 1.693vw;
            font-weight: 700;
            border: none;
            border-bottom: solid 2px #232323;
          }

          &::placeholder {
            color: #dbdbdb;
            @include media-breakpoint-between(md, lg) {
              color: #232323;
            }
          }
        }

        .astrix-text {
          display: none;
          @include media-breakpoint-up(xl) {
            font-size: 13px;
            font-weight: bold;
            line-height: 1.31;
            color: #180d1d;
            display: block;
            font-size: 0.903vw;
          }
        }

        &.raffle-sub-section,
        &.invest-sub-section,
        &.tickets-sub-section {
          margin: 2.778vw 0;
          flex: 0 0 calc(100% / 2);
          @include media-breakpoint-between(md, lg) {
            padding: 0 2.778vw;
            margin: 0;
          }
          @include media-breakpoint-up(xl) {
            margin: 2.778vw 0;
            padding: 0 2.778vw;
            flex: 0 0 calc(100% / 3);
          }
        }

        &.raffle-sub-section {
          grid-area: raffle;
          @include media-breakpoint-between(md, lg) {
            border-right: 2px solid #dbdbdb;
            padding: 0 8.724vw 0 0;
          }
        }

        &.invest-sub-section {
          grid-area: invest;
          @include media-breakpoint-between(md, lg) {
            padding: 0 0 0 6.641vw;
          }
          .mobile-calculation {
            .form-group {
              font-size: 3.438vw;
              font-weight: 700;
              display: flex;
              align-items: center;
              padding: 4.688vw 0;
              input {
                width: auto;
                max-width: 23.081vw;
                font-size: 3.438vw;
                font-weight: 700;
                margin-bottom: -2px;
                border: none;
                border-bottom: 2px solid #000;
                color: #000;
                &::placeholder {
                  color: #000;
                }
              }
            }
          }
        }

        &.tickets-sub-section {
          display: none;
          @include media-breakpoint-up(md) {
            display: grid;
            grid-area: tickets;
            place-items: center;
            align-content: flex-end;
            padding: 0 0 0 6.641vw;
          }
          @include media-breakpoint-up(xl) {
            min-height: 300px;
            padding: 0 2.778vw;
          }
        }

        &.show {
          display: flex !important;
          flex-direction: column;
          align-items: center;
          .btn-rounded {
            align-self: stretch;
            height: 12.813vw;
            font-size: 6.406vw;
            .calc {
              display: none;
            }
            .buy {
              display: block;
            }
          }
          .tickets-icon {
            display: none;
          }
          .rocket-icon {
            display: block;
          }
          .tickets-count {
            @include media-breakpoint-down(sm) {
              margin-top: 3.906vw;
              margin-bottom: 1.563vw;
            }
          }
        }

        .rocket-icon {
          display: none;
        }

        .tickets-icon {
          @include media-breakpoint-up(md) {
            width: 13.672vw;
          }
          @include media-breakpoint-up(xl) {
            width: 9.722vw;
          }
        }

        .tickets-count {
          color: $brand-color-red;
          font-family: "Gellix", sans-serif;
          font-size: 10.938vw;
          font-weight: 900;
          line-height: 1.2;
          letter-spacing: 0.8px;
          @include media-breakpoint-up(md) {
            font-size: 5.208vw;
            padding-bottom: 0.6vw;
          }
          @include media-breakpoint-up(xl) {
            margin-bottom: 0.833vw;
            font-size: 2.778vw;
          }
        }
      }

      //////////////////////////////////////////
      // Odds gauge
      //////////////////////////////////////////
      $odds-gauge-width-xl: 17.639vw;
      .odd-gauge-container {
        position: absolute;
        top: -33vw;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 66.406vw;
        @include media-breakpoint-between(md, lg) {
          top: -29vw;
          max-width: 32.813vw;
        }
        @include media-breakpoint-up(xl) {
          top: -9.7vw;
          right: -5.347vw;
          left: auto;
          width: $odds-gauge-width-xl;
          height: $odds-gauge-width-xl;
        }
        .odd-gauge {
          width: 100%;
          z-index: 1;
          @include media-breakpoint-up(xl) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .niddle-container {
          z-index: 200;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 40%;
          left: 50%;
          .niddle {
            height: 26.5vw;
            transition: all 0.4s ease;
            transform: rotate(339deg);
            transform-origin: 50% 75%;
            @include media-breakpoint-up(md) {
              height: 13.5vw;
            }
            @include media-breakpoint-up(xl) {
              height: 7.2vw;
            }
          }
        }
      }
    }
  }

  //////////////////////////////////////////
  // Radio btns
  //////////////////////////////////////////
  .calc-radio-btns-container {
    // &:last-child {
    //   margin-right: 0;
    // }
    .radio-btn {
      width: 100%;
      font-family: "Gellix", sans-serif;
      font-weight: bold;
      // margin-right: 5px;
      height: auto;
      position: relative;
      font-size: 22px;
      font-weight: 700;
      background-color: #eaeaea;
      border: solid 2px #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include media-breakpoint-up(sm) {
        // margin-right: 15px;
      }
      &:focus {
        outline: 2px dotted #55d7dc;
      }
      &:hover {
        color: $brand-color-red;
      }
      // &:last-child {
      //   margin-right: 0;
      // }
    }
    input[type="radio"] {
      display: none;
      font-size: 4.688vw;
      @include media-breakpoint-up(xl) {
        font-size: initial;
      }
    }

    input[type="radio"]:checked + label {
      box-shadow: 1px 2px 20px 0 rgba(77, 10, 14, 0.16);
      border: solid 2px $brand-color-red;
      color: $brand-color-red;
      background-color: #fff;
    }

    input[type="radio"]:checked + label span {
      display: inline-block;
      border-color: #b2b2b2;
      width: 15px;
      &::after {
        transform: scale(1.2);
      }
    }

    input[type="radio"] + label span {
      display: none;
      border: 0.1em solid;
      background-color: #fff;
      border-color: #b2b2b2;
      width: 0;
      height: 16px;
      position: relative;
      margin-left: 5px;
      vertical-align: bottom;
      color: transparent;
      transition: 0.4s;
      @include media-breakpoint-up(sm) {
        margin-left: 15px;
      }
      &::after {
        transition: 0.4s;
        position: absolute;
        top: -0.85rem;
        transform: scale(0);
        content: url("../../assets/images/icons/v.svg");
      }
    }
  }
}
