//////////////////////////////////////////
// Content page
//////////////////////////////////////////
.content-page {
  //////////////////////////////////////////
  // Cover
  //////////////////////////////////////////
  section.section-cover {
    position: relative;
    // background-color: $brand-color-dark;
    // height: 127vw;

    // @include media-breakpoint-up(md) {
    //   height: 114.323vw;
    // }

    // @include media-breakpoint-up(xl) {
    //   height: calc(100vh - 80px);
    // }
    .image-mobile {
      // padding-bottom: 1.944vw;
      // background-image: url('../../assets/images/Headerred.svg');
      // background-size: 92.361% auto;
      // background-position: center bottom;
      // background-repeat: no-repeat;
      // display: block !important;
//       img {
//     width: 100%;
//     filter: brightness(0.6);
// }
  }
    .cover-image {
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // object-position: center top;
      // opacity: .5;
      // z-index: 0;
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5%;
      width: 100%;
      height: 100%;

      .text-container {
        @extend .fatfrank;
        margin: 0 0 3.958vw;

        @include media-breakpoint-up(xl) {
          margin: 0 15% 3.958vw;
        }

        p {
          margin-bottom: 0;
          position: relative;
          font-size: 11.719vw;
          font-weight: 900;
          line-height: 1.13;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          @include media-breakpoint-up(md) {
            font-size: 11.068vw;
          }

          @include media-breakpoint-up(xl) {
            font-size: 6.944vw;
          }

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            text-align: center;
            content: attr(data-stroke-text);
            color: transparent;
            opacity: 0.55;
            -webkit-text-stroke: 2px $brand-color-red;
            transform: translate(0.781vw, 0.781vw);

            @include media-breakpoint-up(md) {
            transform: translate(0.4vw, 0.5vw);
            }

            @include media-breakpoint-up(xl) {
              transform: translate(5px, 5px);
            }
          }
        }
      }
    }


    .bottom-shape {
      // position: absolute;
      // left: 0;
      // right: 0;
      // bottom: -1px;
      // z-index: 1;
    }
  }


  //////////////////////////////////////////
  // Content section
  //////////////////////////////////////////
  section.content-section {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    padding: 0.833vw 0.688vw 0;

    @include media-breakpoint-up(md) {
      padding: 5.833vw 0;
    }

    @include media-breakpoint-up(xl) {
      flex-wrap: nowrap;
      padding: 5.833vw 1.389vw 0;
    }

    .content {
      flex: 0 0 100%;
      padding: 0;
      order: 1;
      @include media-breakpoint-up(md) {
        padding: 0 7.813vw;
      }
      @include media-breakpoint-up(xl) {
        padding: 0 9.097vw;
        order: unset;
        flex: 1 1 100%;
      }

      &.content-narrow {
        @include media-breakpoint-up(xl) {
          flex: 0 0 55.556vw;
        }
      }

      .title {
        margin-top: 4.688vw;
        font-family: 'Gellix';
        font-weight: 400;
        font-size : 28px;
        @include media-breakpoint-up(xl) {
          margin-top: 2.361vw;
        }
      }

      h1 {
        font-size: 28px;
        margin-top: 0px !important;

        @include media-breakpoint-up(md) {
          font-size: 5.990vw;
        }

        @include media-breakpoint-up(xl) {
          font-size: 28px;
        }
      }

      h2 {
        font-size: 36px;

        @include media-breakpoint-up(md) {
          font-size: 4.688vw;
        }
        @include media-breakpoint-up(xl) {
          font-size: 36px;
        }
      }

      h3 {
        font-size: 28px;
        font-family: 'Gellix';
        font-weight: 400;

        @include media-breakpoint-up(md) {
          font-size: 28px;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 1.042vw;
          font-size: 28px;
        }
      }

      p {
        font-size: 18px;
        font-family: 'Gellix';
        font-weight: 400;
        line-height: 1.3;
        @include media-breakpoint-up(md) {
          font-size: 20px !important;
        }
        @include media-breakpoint-up(xl) {
          font-size: 20px;
        }
      }
      .btn-join {
        // background: $brand-color-new-red; // for button image
        background-image: url('../../assets/images/button-03.png') !important;
        background-size: cover !important;
        border: none;
        background: no-repeat;
        background-position: center;
        color: #fff;
        font-size: 32px;
        font-family: 'Gellix';
        border-radius: 10px;
        font-weight: 400;
        padding: 30px 40px;
    }
      .awards {
        margin-top: 20px;
        margin-bottom: 14.375vw;

        @include media-breakpoint-up(xl) {
          margin-bottom: 0;
          margin-top: 3.056vw;
        }

        img {
          margin-right: 5.938vw;
          width: 17.500vw;
          @include media-breakpoint-up(md) {
            margin-right: 3.255vw;
            width: 10.417vw;
          }
          @include media-breakpoint-up(xl) {
            margin-right: 1.736vw;
            width: 5.556vw;
          }
        }
      }
    }

    .banner {
      order: 2;
      flex: 0 0 100%;
      margin-bottom: 1.563vw;

      @include media-breakpoint-up(md) {
        margin: 0;
        flex: 0 0 calc(50% - 3.563vw);
      }

      @include media-breakpoint-up(xl) {
        order: unset;
        flex: 0 0 15.486vw;
      }

      img {
        width: 100%;
        height: 30.313vw;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-up(md) {
          height: 25.260vw;
        }

        @include media-breakpoint-up(xl) {
          height: auto;
        }
      }
    }
  }

  //////////////////////////////////////////
  // Our raffles
  //////////////////////////////////////////
  app-raffles-swiper {
    .section-our-raffles  {
      @include media-breakpoint-up(xl) {
        padding-top: 30px;
      }
    }
  }
}

// .content-page section.section-cover::after {
//   content: "";
//   padding-bottom: 2.944vw;
//     background-image: url('../../assets/images/Headerred.svg');
//     background-size: 92.361% auto;
//     background-position: center bottom;
//     background-repeat: no-repeat;
//     display: block !important;
// }
.content-page section.content-section.about-us-page .content .title {
  font-size: 28px;
  //color: #232323;
  font-weight: 400;
}
.content-page section.content-section.about-us-page .content p {
  font-size: 18px;
  font-family: 'Gellix';
  color: #232323;
  line-height: 26px;
  font-style: normal;
  font-weight: 450;
}
// .about-us-page h3 {
//   color: #666666;
//   font-size: 15px !important;
// }
.redText {
  color: #FF3C4C;
}
.JoinButton {
  text-align: center;
  padding: 5% 0;
}
.about-btn-sec {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 70%;
}

.about-btn-sec button.btn {
  background: #ff3c4c;
  margin: 0 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  font-family: 'Gellix';
  font-weight: 400;
  padding: 3px 3%;
}

.about-btn-sec button.btn.btn-join {
  border: 1px solid #fff;
  background: transparent;
}

.about-btn-sec button.btn a {
  color: #fff;
}



h3.red-color {
  color: #FF3C4C;
}
h3.black-color{
  color: black;
}
.gambling_page.baner-box h2{
  top: 44%;
}
.gambling_page.baner-box p{
  top: 64%;
}
.gambling_page.baner-box .inner-btn{
  top: 81%;
}

.image-mobile h2{
  position: absolute;
  top: 45%;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 70px;
  // line-height:69.62px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transform: translate(0%, -50%);
}
.image-mobile p{
  position: absolute;
  top: 50%;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  transform: translate(0%, -50%);
}
.image-mobile .inner-btn{
  position: absolute;
  top: 81%;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  transform: translate(0%, -50%);
}

@media(max-width: 1180px){
  .about-us-page h3 {
  font-size: 20px !important;
  }
}

@media (max-width: 1100px){
  .content-page {
    .image-mobile
    {
      h2{
        font-size: 52px;
      }
    }
  }
}

@media (max-width: 900px){
  .baner-box{
    &.image-mobile{
      &.gambling_page{
        margin-top: 50px;
        h2{
          top: 35%;
        }
        p{
          top: 60%;
        }
      }
    }
  }

  .content-page {
    .image-mobile
    {
      h2{
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 980px){
  .baner-box{
    &.image-mobile{
      &.gambling_page{
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 1024px){
  .content-page {
    .image-mobile
    {
      h2{
        font-size: 45px;
        line-height: 65px;
      }
      p{
        font-size: 28px;
        // top: 89%;
      }
    }
  }
}

@media (max-width: 768px){
  .content-page {
    .gambling_page {
      h2 {
        font-size: 36px !important;
        line-height: 41px !important;
      }
      p {
        font-size: 22px;
      }
      img{
        height: 320px !important;
      }
    }
  }
  .JoinButton {
    margin-bottom: 3%;
  }
}

@media (max-width: 640px){
  .content-page {
    .gambling_page {
      h2 {
        font-size: 32px !important;
        line-height: 45px;
        // top: 52%;
      }
      p{
        text-align: left;
        padding-left:15px;
        padding-right:15px;
      }
    }
    .image-mobile{
      img{
        //height: 350px;
        object-fit: cover;
      }
      // h2{
      //   font-size: 36px;
      // }
      p{
        font-size: 22px;
        top: 72%;
        line-height: 28px;
      }
    }
      // .section-title {
      //   font-size: 40px !important;
      //   line-height: 100% !important;
      // }
      .section-subtitle {
        font-size: 22px !important;
      }

  }
}

@media (max-width: 510px){
  .content-page {
    .gambling_page {
      h2 {
        font-size: 22px !important;
        line-height: 28px !important;
        top: 30% !important;
      }
      p{
        font-size: 18px;
        text-align: left;
        padding-left:15px;
        padding-right:15px;
        line-height: 23px;
        top: 58% !important;
      }
      .btn-rounded{
        height: 40px;
        font-size: 15px;
      }
      img {
        height: 250px !important;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 440px){
  .content-page {
    .gambling_page {
      h2 {
        font-size: 20px !important;
        line-height: 24px;
      }
      p{
        font-size: 18px;
        line-height: 17px;
      }
    }
    .image-mobile {
      h2{
        font-size: 30px !important;
      }
      img {
       // filter: brightness(0.6);
      }
    }
    section.content-section {
      .content {
          .btn-join {
           // width: 50%;
          }
      }
    }
  }
}

@media (max-width: 376px){
  .content-page {
    section.content-section {
      .content {
          h1 {
            font-size: 36px;
          }
          h2 {
            font-size: 26px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 18px;
          }
      }
    }
  }
  .content-page section.content-section.about-us-page .content .title {
    font-size: 28px !important;
  }
  .content-page section.content-section.about-us-page .content p {
    font-size: 18px;
   }
  .about-us-page h3 {
    font-size: 14px !important;
  }
  .btn-join {
    font-size: 28px;
}
}
@media (max-width: 450px){
  .content-page section.content-section .content h1{ font-size: 28px;}
}
@media (max-width: 340px){
  .content-page .gambling_page h2{
    line-height: 30px;
    }
}

@media (max-width: 826px){
  .content-page .image-mobile h2 {
    font-size: 42px;
    line-height: 54px;
  }
}

