//////////////////////////////////////////
// Homepage
//////////////////////////////////////////
@import "../variables";

.home-page {
  //////////////////////////////////////////
  // Cover
  //////////////////////////////////////////
  section.section-cover {
    position: relative;
    background-color: $brand-color-dark;
    height: 127vw;

    @include media-breakpoint-up(md) {
      height: 100vw;
    }

    @include media-breakpoint-up(xl) {
      height: calc(100vh - 80px);
    }

    .swiper-container {
      height: 100%;

      .swiper-wrapper {

        .swiper-slide {

          .slide-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
            opacity: .5;
            z-index: -1;
          }

          .content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 5%;
            width: 100%;
            height: 100%;
            z-index: 1;

            @include media-breakpoint-up(xl) {
              padding-top: 0;
            }

            .awards {
              margin-bottom: 4vw;
              @include media-breakpoint-up(xl) {
                margin-bottom: 2.604vw;
              }
              .award-image {
                margin: 0 1.250vw;
                width: 17.96875vw;
                opacity: .5;
                @include media-breakpoint-up(md) {
                  width: 11.979vw;
                }
                @include media-breakpoint-up(xl) {
                  width: 6.250vw;
                }
              }
            }

            .text-container {
              @extend .fatfrank;
              margin: 0 0 3.958vw;
              width: 100%;

              @include media-breakpoint-up(xl) {
                //margin: 0 25% 3.958vw;
              }

              p {
                position: relative;
                font-size: 17.188vw;
                font-weight: 900;
                line-height: 1.13;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;

                @include media-breakpoint-up(xl) {
                  font-size: 8.229vw;
                }

                &::after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  display: block;
                  text-align: center;
                  display: block;
                  content: attr(data-stroke-text);
                  color: transparent;
                  opacity: 0.55;
                  -webkit-text-stroke: 2px $brand-color-red;
                  transform: translate(0.781vw, 0.781vw);

                 @include media-breakpoint-up(md) {
                  transform: translate(0.4vw, 0.5vw);
                 }

                 @include media-breakpoint-up(xl) {
                   transform: translate(5px, 5px);
                 }
                }
              }

              .cover-title {
                width: 100%;
                $colors: #DC1522;
                $max: length($colors);
                $dash: 70;
                $dash-gap: 40;
                $dash-space: $dash * ($max - 1) + $dash-gap * $max;
                $time: 1s;
                $time-step: $time/$max;

                svg {
                  width: 100%;
                }

                .text {
                  font-size: 10vw;
                  font-weight: bold;
                  line-height: 1.2;
                  fill: none;
                  stroke-width: 2;
                  stroke-linejoin: round;
                  stroke-dasharray: $dash $dash-space;
                  stroke-dashoffset: 0;
                  -webkit-animation: stroke $time infinite;
                  animation: stroke $time infinite;
                  animation-timing-function: linear;

                  @include media-breakpoint-up(md) {
                    font-size: 8.229vw;
                  }

                  @include media-breakpoint-up(xl) {
                    font-size: 8.229vw;
                  }

                  @for $item from 1 through $max {
                    &:nth-child(#{$max}n + #{$item}) {
                      $color: nth($colors, $item);
                      stroke: $color;
                      -webkit-animation-delay: -($time-step * $item);
                      animation-delay: -($time-step * $item);
                    }
                  }

                  &.text-b {
                    fill: #fff;
                    stroke: transparent;
                    transform: translate(-2.5px, -2.5px);
                  }
                }



                @keyframes stroke {
                  100% {
                    stroke-dashoffset: -($dash + $dash-gap) * $max;
                  }
                }
              }
            }

            .btns-container {
              .btn-rounded {
                margin: 0 2vw;
                width: 34.063vw;

                @include media-breakpoint-up(md) {
                  height: 55px;
                  margin: 0 12px;
                  width: 196px;
                }
              }
            }
          }
        }
      }

      .swiper-pagination {
        @include media-breakpoint-down(lg) {
          top: auto;
          bottom: 8vw;
          left: 0;
          right: 0;
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          bottom: 8vw;
        }

        @include media-breakpoint-up(xl) {
          right: 50px;
        }

        .swiper-pagination-bullet {
          margin: 0 1.563vw;
          width: 11px;
          height: 11px;
          display: inline-block;
          border-radius: 100%;
          background:transparent;
          border: 1px solid #fff;
          opacity: 1;

          @include media-breakpoint-up(xl) {
            display: block;
            margin: 20px 0;
          }

          &:focus {
            outline: 0;
          }
          &.swiper-pagination-bullet-active {
            background-color: #fff;
          }
        }
      }
    }

    .bottom-shape {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      z-index: 1;
      width: 100%;
    }

    .btn-scroll-down {
      position: absolute;
      bottom: 60px;
      left: 40px;
      background-color: transparent;
      border: 0;
      z-index: 1;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &:focus {
        outline: 0;
      }

      span {
        display: block;
        margin-bottom: 25px;
        color: #fff;
        line-height: 1.38;
        letter-spacing: 1.92px;
        text-transform: uppercase;
        text-orientation: sideways;
        writing-mode: vertical-rl;
      }

      .arrow {
        position: absolute;
        left: 4px;
        right: 0;
        bottom: 0;
        z-index: 1;
        animation: scroll-down .5s ease-in alternate infinite;
        width: 26px;
      }
    }
  }

  //////////////////////////////////////////
  // How To Win
  //////////////////////////////////////////
  section.section-how-to-win {
    .section-title {
      margin-bottom: 5.469vw;
      @include media-breakpoint-up(md) {
        margin-top: 0;
        margin-bottom: 30px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 0px;
        margin-bottom: 15px;
      }
    }
    .section-subtitle{
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 28px;
    }



    .btn-lets-start {
      width: 53.750vw;
      height: 13.281vw;
      font-size: 4.688vw;
      @include media-breakpoint-up(md) {
        height: 55px;
        width: 226px;
        font-size: 20px;
      }
    }
  }

  //////////////////////////////////////////
  // Daily Deals
  //////////////////////////////////////////
  section.section-daily-deals {
    .section-title {
      margin-top: 13.750vw;
      margin-bottom: 5.313vw;
      @include media-breakpoint-up(md) {
        margin-top: 6vw;
        margin-bottom: 3.906vw;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 167px;
        margin-bottom: 35px;
      }
    }

    .daily-deals-slider {
      background-image: url('~/assets/images/daily-deals/daliy-deals-bg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include media-breakpoint-up(md) {
        background-size: 92.361% 100%;
      }

      @include media-breakpoint-up(xl) {
        background-size: 92.361% auto;
      }

      .swiper-container {

        .swiper-wrapper {

          .swiper-slide {
            width: 75.781vw;
            opacity: .75;
            transition: opacity .5s ease-out;

            @include media-breakpoint-up(md) {
              width: 49.479vw;
            }

            @include media-breakpoint-up(xl) {
              width: 380px;
            }

            .coupon-item {
              position: relative;
              padding: 9.688vw 0;
              transform: scale(0.50);
              transition: transform .5s ease-out;

              @include media-breakpoint-up(md) {
                padding: 10.417vw 0;
                transform: scale(0.71);
              }

              @include media-breakpoint-up(xl) {
                padding: 108px 0 122px;
              }

              .coupon-image {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                  transform: rotate(90deg);
                  transition: transform .5s ease-out;
                }
              }
              .coupon-text {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                  margin-bottom: 0;
                  font-size: 4.063vw;
                  line-height: 1.25;
                  text-align: center;
                  color: #180d1d;
                  text-transform: uppercase;
                  @include media-breakpoint-up(md) {
                    font-size: 2.865vw;
                  }
                  @include media-breakpoint-up(xl) {
                    font-size: 22px;
                  }
                }

                .value {
                  font-size: 14.375vw;
                  font-weight: bold;
                  line-height: 1;
                  @include media-breakpoint-up(md) {
                    font-size: 9.505vw;
                  }
                  @include media-breakpoint-up(xl) {
                    font-size: 73px;
                  }
                }

                .discount {
                  font-size: 7.656vw;
                  font-weight: bold;
                  line-height: 1;
                  text-transform: uppercase;
                  @include media-breakpoint-up(md) {
                    font-size: 5.078vw;
                  }
                  @include media-breakpoint-up(xl) {
                    font-size: 39px;
                  }
                }

                .btn-rounded {
                  margin-top: 1.389vw;
                  @include media-breakpoint-down(sm) {
                    height: 10.625vw;
                  }
                  span {
                    text-transform: capitalize;
                  }
                }
              }
            }

            &.swiper-slide-active,
            &.swiper-slide-duplicate-active {
              opacity: 1;
              .coupon-item {
                transform: scale(1);
                .coupon-image {
                  img {
                    transform: rotate(0);
                  }
                }
              }
            }

            &.swiper-slide-prev {
              opacity: 1;
              @include media-breakpoint-up(md) {
                opacity: .75;
              }
              @include media-breakpoint-up(xl) {
                opacity: 1;
              }
            }

            &.swiper-slide-next {
              opacity: 1;
              @include media-breakpoint-up(md) {
                opacity: .75;
              }
              @include media-breakpoint-up(xl) {
                opacity: 1;
              }
            }
          }
        }
      }

      .daily-deals-button-prev {
        color: transparent;
        width: auto;
        outline: 0;
        opacity: 1;

        @include media-breakpoint-down(sm) {
          display: none;
        }

        @include media-breakpoint-up(md) {
          left: calc(50% - 38vw);
        }

        @include media-breakpoint-up(xl) {
          left: calc(50% - 600px);
        }

        &:hover {
          opacity: .75;
        }

        &::after {
          display: none;
        }
      }
      .daily-deals-button-next {
        width: auto;
        color: transparent;
        outline: 0;
        opacity: 1;

        @include media-breakpoint-down(sm) {
          display: none;
        }

        @include media-breakpoint-up(md) {
          right: calc(50% - 38vw);
        }

        @include media-breakpoint-up(xl) {
          right: calc(50% - 600px);
        }

        &:hover {
          opacity: .75;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.banner-home{
  position: relative;
  // &::after{
  //   position: absolute;
  //   right: 0px;
  //   content:"";
  //   bottom: -66px;
  //   height: 66px;
  //   width: 100%;
  //   background: url(../../assets/images/banner-bottom-shape.png) no-repeat right bottom;
  // }
  .bottom-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    width: 100%;
  }

  .btn-scroll-down {
    position: absolute;
    bottom: 60px;
    left: 40px;
    background-color: transparent;
    border: 0;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &:focus {
      outline: 0;
    }

    span {
      display: block;
      margin-bottom: 25px;
      color: #fff;
      line-height: 1.38;
      letter-spacing: 1.92px;
      text-transform: uppercase;
      text-orientation: sideways;
      writing-mode: vertical-rl;
    }

    .arrow {
      position: absolute;
      left: 4px;
      right: 0;
      bottom: 0;
      z-index: 1;
      animation: scroll-down .5s ease-in alternate infinite;
      width: 26px;
    }
  }
  .carousel-item{
    img{
      width: 100%;
    }
  }
  .carousel-indicators{
    display: none;
    transform: translate(-0%, -50%);
    top: 50%;
    left: auto;
    margin-right: 50px;
    bottom: auto;
    li{
      height: 10px;
      width: 10px;
      opacity: 1;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-bottom: 18px;
      &.active{
        background-color: #fff;
      }
    }
  }
  .carousel-caption{
    bottom: 15px;
    ul.banner-logo{
      margin-bottom: 30px;
      li{
        display: inline-block;
      }
      li+li{
        margin-left: 45px;
      }
    }
    .banner-btn{
      .btn-rounded{
        width: 196px;
        height: 55px;
        font-size: 20px;
      }
    }
    h2{
      font-size: 91px;
      font-weight: 700;
      line-height: 75px;
    }
    h3{
      font-size: 40px;
      line-height: 51px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}
.banner-home .carousel-control-prev, .banner-home .carousel-control-next{
  display: none;
}
.container{
  max-width: 1100px;
}
.banner-home{
  position: relative;
  z-index: 0;
  margin-bottom: 110px;
}
.banner-home::before{
    position: relative;
  left: 0px;
  top: 0px;
  content:"";
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.4);
}
.banner-home::after {
    position: absolute;
    right: 0px;
    bottom: -58px;
    content: "";
    width: 86%;
    height: 65px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 66%);
    background-color: #FF3C4C;
}
/**************************************************************/
@media (max-width:1280px) {
  .banner-home .carousel-caption h2{ font-size: 81px; line-height: 65px;margin-left:auto; margin-right:auto;}
  .banner-home .carousel-caption{ bottom: 15px;}
  .banner-home .carousel-caption h3{ font-size: 35px; line-height: 41px;}
}
@media (min-width:1280px) {
  .banner-home .carousel-caption h2{ max-width:unset !important;}
}
@media (max-width:1180px) {
  .banner-home{ margin-top:0px;}
  .banner-home .carousel-caption{ bottom:20px}
  .banner-home .carousel-item img { height: 100%; width: 100%; object-fit: cover;}
  .banner-home .carousel-item .picsum-img-wrapper { height: 550px;}
}
@media (max-width:990px) {
  .banner-home .carousel-caption h2{ font-size: 71px; line-height: 70px; max-width: 500px; margin: 0px auto 20px;}
  .banner-home .carousel-caption{ bottom: 20px;}
  .banner-home .carousel-item .picsum-img-wrapper{ height: 550px;}
  .banner-home .carousel-item img{ height: 100%; width: 100%; object-fit: cover;}
  .banner-home .carousel-caption{ left: 0px; right: 0px; padding-left: 15px; padding-right: 15px;}
}
@media (max-width:600px) {
  .banner-home .carousel-caption h3{ margin-bottom:15px;}
}
@media (max-width:500px) {
  // .banner-home .carousel-caption h3{ font-size: 30px; line-height: 31px;}
  ul.banner-logo{ padding: 0px; display: inline-block; width: 100%;}
  ul.banner-logo li{ width: 33.33%; margin: 0px !important; padding: 0px 15px; }
  // .banner-home .carousel-caption .banner-btn .btn-rounded{ width: auto;}
  .banner-home .carousel-indicators{ margin-right:15px;}
}
@media (max-width:400px){
  .navbar .navbar-toggler{ padding: 0px;}
  .banner-home .carousel-caption h2{ line-height: 45px; font-size: 32px; margin-bottom: 10px;}
  html .banner-home .carousel-caption h3{ font-size: 18px; line-height: 26px;}

}

@media (max-width: 1113px){
  .banner-home::after {
    position: absolute;
    right: 0px;
    // bottom: -62px;
    content: "";
    width: 86%;
    height: 65px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 66%);
    background-color: #FF3C4C;
}
}

