$account-color-new-red: #DC1522;
.my-setting-section {
    padding-left: 20px;
    .main_heading {
        // display: flex;
        // align-items: center;
        h4 {
            font-size: 32px;
            font-family: 'Gellix';
            font-weight: 700;
            color: #232323;
            display: flex;
            align-items: center;
            margin-bottom: 4%;
        }
    }

    .custom-align-items{
        align-items: end;
    }

    .mySettingSec {
        .form-group {
            label {
                color: #707070;
                font-size: 20px;
                font-family: 'Gellix';
                margin-bottom: 0px;
                font-weight: 400;
            }
            .btn-change-password {
                color: #fff;
                background: $account-color-new-red;
                font-family: 'Gellix';
                // font-size: 15px;
               // background-image: url('../../../assets/images/Button-03.png') !important;
                background-size: cover;
                border: none;
                background: no-repeat;
                background-position: center;
                width: 100%;
                margin-top: 10%;
                // border-radius: 5px;
                padding: 10px;
            }
            .form-control {
                border: 1px solid #E3E3E3;
                color: #495057;
                font-size: 16px;
                font-family: 'Gellix';
                font-weight: 700;
                height: 50px;
                &:focus {
                    border: 1px solid #E3E3E3;
                    box-shadow: none;
                  }
                  &::placeholder {
                    color: #180D1D;
                    opacity: 1;
                  }
                  &::-webkit-input-placeholder { /* Edge */
                    color: #180D1D;
                  }

                  &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #180D1D;
                  }
            }

            .button-section {
                text-align: right;
                margin-top: 5%;
                .btn-rounded {
                    background-color: $account-color-new-red ;
                    width: 22%;
                    font-size: 20px;
                    font-family: 'Gellix';
                    font-weight: 400;
                    margin-left: 20px;
                }
                .btn-cancel {
                    border-color: #DC1522;
                    color: #DC1522;
                    background-color: white !important;
                }
            }
        }
    }
}
 @media (max-width: 1920px){
     .btn-change-password {
         font-size: 13px;
     }
 }
 @media (max-width: 1366px){
    .btn-change-password {
        font-size: 13px;
    }
}
@media (max-width: 1220px){
    .btn-change-password {
        font-size: 12px;
    }
}

@media (max-width: 1050px){
    .btn-change-password {
        font-size: 10px;
    }
}
@media (max-width: 991px){
    .btn-change-password {
        font-size: 9px;
    }
}
.btn-rounded:hover span, .btn-rounded:focus span
{
transform: translateY(0%);
}
@media (max-width: 992px){
    .mySettingSec {
        .form-group {
            margin-bottom: 0 !important;
            .form-control {
                margin-bottom: 0px;
            }
            .button-section {
                text-align: center !important;
            }

            .button-section {
                .btn-rounded {
                    width: 35% !important;
                }
            }
        }
    }

    .main_heading{
        h4{
            font-size: 28px!important;
        }
    }
}

@media (max-width: 992px){
    .custom-align-items{
        align-items: center!important;
    }

    .btn-change-password {
        padding-top: 8px;
        margin-top: 7px;
        padding-bottom: 8px;
        font-size: 14px;
    }

}

@media (min-width: 641px) and (max-width: 992px){
    form.setting-form {
        padding: 0 5%;
    }
}

@media (max-width: 641px){
    .main_heading{
        text-align: center;
        h4{
            display: block!important;
        }
    }
}

@media (max-width: 575px){
    .btn-change-password {
        margin-top: 0px !important;
        margin-bottom: 15px;
        width: 50% !important;
    }
}

@media (max-width: 410px){

    .mySettingSec {
        .form-group {
            .button-section {
                .btn-rounded {
                    width: 50% !important;
                    margin-left: 1px;
                }
            }
        }
    }

    .main_heading{
        h4{
            font-size: 23px!important;
        }
    }
}

.rmv-btn-img{
    background-image: none !important;
    background-size: none !important;
    background-position: unset;
    border: 1px solid $account-color-new-red;
}

@media (max-width: 992px){
    .btn-change-password{
        width: 150px !important;
        padding: 20px !important;
    }
}
@media (min-width: 992px){
 .btn-change-password{
    width: 100% !important;
        padding: 10px !important;
 }
}