<div class="page content-page">
<section class="section-cover">
<div class="baner-box image-mobile custom-about-banner1">
  <video playsinline autoplay="autoplay" [muted]="true" loop="true"  *ngIf="ShowVideoImg">
    <source src="assets/video/responsible raffle_NOTEXT.mp4" type="video/mp4" >
 </video>
 <img src="../../../assets/images/about/responsible-raffle.jpg"  alt=""  style="margin-top: 50px ;" *ngIf="!ShowVideoImg">
  <h2> {{'responsible_gambling_vidio_text' | translate}}</h2>
<!-- <div class="banner-btn inner-btn">
    </div> -->
    <!-- <div class="video-text">
    </div> -->
</div>
</section>
<section class="content-section">
  <!-- <div class="banner">
    <a href="#">
      <img class="banner-image d-none d-xl-block" src="assets/images/about/gamblingleft-Desktop.png">
      <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/about/gamblingleft-Tab.png">
      <img class="banner-image d-md-none" src="assets/images/about/Gambling-top.png">
    </a>
  </div> -->
  <div class="content">
   <h3 class="title">{{'responsible_gambling_content_heading1'|translate }}</h3>
    <p>{{'responsible_gambling_content_para1'|translate}}</p>
    <h3>{{'responsible_gambling_content_heading2'| translate}}</h3>
    <p>{{'responsible_gambling_content_para2' | translate}}</p>
    <p> {{'responsible_gambling_content_para3' | translate}}</p>
    <p>{{'responsible_gambling_content_para4' | translate}}</p>
    <ul>
      <li>{{'responsible_gambling_content_list_item1' | translate}}</li>
      <li> {{'responsible_gambling_content_list_item2' | translate}}</li>
      <li> {{'responsible_gambling_content_list_item3' | translate}}</li>
      <li> {{'responsible_gambling_content_list_item4' | translate}}</li>
      <li> {{'responsible_gambling_content_list_item5' | translate}}</li>
      <li> {{'responsible_gambling_content_list_item6' | translate}}
      <ul>
        <li><a href="https://www.netnanny.com/" target="_blank" rel="noopener">{{'responsible_gambling_content_list_item6_li1' | translate}}</a></li>
        <li><a href="https://www.cybersitter.com" target="_blank" rel="noopener">{{'responsible_gambling_content_list_item6_li2' | translate}}</a></li>
      </ul>
      </li>
    </ul>
    <h3>{{'responsible_gambling_content_heading3' | translate}}</h3>
    <p>{{'responsible_gambling_content_para5' | translate}}</p>
    <p>{{'responsible_gambling_content_para6' | translate}}</p>
    <p>{{'responsible_gambling_content_para7' | translate}}</p>
    <h3>{{'responsible_gambling_content_heading4' | translate}}</h3>
    <p>{{'responsible_gambling_content_para8' | translate}} <a href="mailto:{{'Support_Email' | translate}}">{{'Support_Email' | translate}}</a></p>
    <p>{{'responsible_gambling_content_para9' | translate}}</p>
    <ul>
      <li>{{'responsible_gambling_content_heading4_list_item1' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item2' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item3' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item4' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item5' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item6' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item7' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item8' | translate}}</li>
      <li>{{'responsible_gambling_content_heading4_list_item9' | translate}}</li>
    </ul>
    <p>{{'responsible_gambling_content_para10' | translate}}</p>

    <p>{{'responsible_gambling_content_para11' | translate}}
      <span>
     <ul style="padding-left: 18px;">
       <li style="color: #007bff;">
        <a href="https://www.ludopatia.org/web/index_es.htm" target="_blank" rel="noopener">{{'responsible_gambling_content_para11_link' | translate}}</a>
       </li>
     </ul>
    </span>
    </p>

    <p>{{'responsible_gambling_content_para12' | translate}}
      <span>
     <ul style="padding-left: 18px;">
       <li style="color: #007bff;">
        <a href="https://www.ludopatia.org/web/index_es.htm" target="_blank" rel="noopener">{{'responsible_gambling_content_para12_link' | translate}}</a>
       </li>
     </ul>
    </span>
    </p>


    <p>{{'responsible_gambling_content_para13' | translate}}
      <span>
     <ul style="padding-left: 18px;">
       <li style="color: #007bff;">
        <a href="https://www.ludopatia.org/web/index_es.htm" target="_blank" rel="noopener">{{'responsible_gambling_content_para13_link' | translate}}</a>
       </li>
     </ul>
    </span>
    </p>

    <h3>{{'responsible_gambling_content_heading5' | translate}}</h3>
    <p>{{'responsible_gambling_content_para14' | translate}}</p>

    <ul>
      <li>{{'responsible_gambling_content_heading5_list_item1' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item2' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item3' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item4' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item5' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item6' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item7' | translate}}</li>
      <li>{{'responsible_gambling_content_heading5_list_item8' | translate}}</li>
    </ul>

    <p>{{'responsible_gambling_content_para15' | translate}}</p>
  </div>
  <!-- <div class="banner">
    <a href="#">
      <img class="banner-image d-none d-xl-block" src="assets/images/about/ad2.jpg">
      <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/about/Gambling-RightBanner-Tab.png">
      <img class="banner-image d-md-none" src="assets/images/about/Gambling-bottom.png">
    </a>
  </div> -->
</section>
<a #gamblingRaffles></a>
<app-raffles-swiper></app-raffles-swiper>
</div>
