<!-- Content page -->
<div class="page">
  <!-- Cover -->
  <section class="custom-content-section">
      <div class="container">
        <div class="row left_text">
          <div class="col-md-12">
            <div class="row">
              <!-- Section Title -->
              <div class="section-title-custom left custom-padding">
              <h1>{{'contact_get_in_touch' | translate}}</h1>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row contact_text">
              <p>{{'contact_us_data' | translate}}</p>
            <!-- <p>Questions? Inquiries? Our customer support team is ever present to assist you. Feel free to contact us anytime via the form below.</p> -->
          </div>
          </div>
        </div>
        <div class="row contact-form-section">
          <div class="col-lg-5 col-md-12 col-sm-12 left-section">
            <div class="left-section-inner">
              <div class="row">
                <div class="col-md-12 contact_heading">
                  <div>
                    <h4>{{'contact' | translate}} Information</h4>
                  </div>
                </div>
                <div class="col-lg-12 col-md col-sm col">
                 <div class="row contact_details">
                   <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                        <img src="assets/images/contact_call.svg" alt="">
                   </div>
                   <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                     <ul class="mobile_ul">
                       <li><a href="tel:8012345678">8012345678</a></li>
                       <li><a href="tel:8087654321">8087654321</a></li>
                     </ul>
                   </div>
                 </div>
                </div>
                <div class="col-lg-12 col-md col-sm col">
                  <div class="row contact_details">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                         <img src="assets/images/contact_mail.svg" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 support-raffel">
                      <ul>
                        <li><a href="mailto:{{'Support_Email' | translate}}" style="margin-left: 10px;">{{'Support_Email' | translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-4 col-sm-4 col last-clm last-section">
                  <div class="row contact_details">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                         <img src="assets/images/contact_location.svg" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                      <ul>
                        <li>
                          {{'contact_place_of_raffle' | translate}}: Cerrada de San Borja,
                          33, int 1, Del Valle, Benito Juarez
                          Mexico City, 03100
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md col-sm col last-clm last-sectio-show">
                  <div class="row contact_details">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                         <img src="assets/images/contact_location.svg" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                      <ul>
                        <li>
                          {{'contact_place_of_raffle' | translate}}: Cerrada de San Borja,
                          33, int 1, Del Valle, Benito Juarez
                          Mexico City, 03100
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-sm-12 right-section">
            <app-loader *ngIf="loading; else content"></app-loader>
            <ng-template #content></ng-template>
            <div class="right-section-inner">
                <form
                #contactForm="ngForm"
                class="contact-form"
                (ngSubmit)="Submit(contactForm)"
                >
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="first-name">{{'first_name' | translate}}</label>
                        <input
                          type="text"
                          class="form-control"
                          id="first-name"
                          placeholder="{{'firstNamePlaceholder' | translate}}"
                          name="firstName"
                          [(ngModel)]="contactModel.firstName"
                          required
                          autocomplete="off"
                        />
                        <span class="form-feedback">{{"required_field_error" | translate}}</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="last-name">{{'last_name' | translate}}</label>
                        <input
                          type="text"
                          class="form-control"
                          id="last-name"
                          placeholder="{{'lastNamePlaceholder' | translate}}"
                          name="lastName"
                          [(ngModel)]="contactModel.lastName"
                          required
                          autocomplete="off"
                        />
                        <span class="form-feedback">{{"required_field_error" | translate}}</span>
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <label for="phone-number">{{'phone' | translate}}</label>
                      <input
                        type="tel"
                        class="form-control"
                        id="phone-number"
                        placeholder="{{'phonePlaceholder' | translate}}"
                        name="mobile"
                        [(ngModel)]="contactModel.phone"
                        [pattern]="mobNumberPattern"
                        required
                        autocomplete="off"
                      />
                      <span class="form-feedback">{{"required_field_error" | translate}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <label for="email">{{'Email' | translate}}</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="{{'Enter_your_email' | translate}}"
                        name="email"
                        [(ngModel)]="contactModel.email"
                        (keyup)="validateEmail1(email2.value)"

                        #email2
                        email
                        autocomplete="off"
                      />
                      <span class="form-feedback1"   *ngIf="isEmailValid1">{{ 'invalid mail' | translate}}</span>

                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <label for="message">{{'message' | translate}}</label>
                      <textarea class="form-control" id="message" name="message" [(ngModel)]="contactModel.message" required autocomplete="off" rows="4" placeholder="{{'type_your_message_here' | translate}}"></textarea>
                      <span class="form-feedback">{{"required_field_error" | translate}}</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 button-section">
                        <button
                        [disabled]="isEmailValid1"
                        class="btn-rounded btn-login mt-3"
                        type="submit"
                        ><span *ngIf="loading; else contactText">Loading</span>
                        <ng-template #contactText>
                          <span>{{'send_message' | translate}}</span>
                        </ng-template>
                        </button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
