$contact-color-new-red: #DC1522;
section.custom-content-section {
  padding: 30px 0;
  .section-title-custom {
    text-align: left;
    margin-bottom: 3%;

    &.custom-padding{
      margin-bottom: 0px;
      padding-top: 90px;
      padding-bottom: 70px;
    }
    h1 {
      font-size: 56px;
      position: relative;
      font-family: 'Gellix';
      font-style: normal;
      font-weight: 700;
      color: #232323;
    }

    h1::after {
      position: absolute;
      left: 50%;
      content: "";
      width: 50%;
      height: 4px;
      background: #FE3C4C;
      transition: 0.3s;
      opacity: 1;
      visibility: visible;
      bottom: -10px;
      transform: translateX(-50%);
    }
  }
  .row.contact_text p {
    font-weight: 400;
    font-size: 28px;
    font-family: 'Gellix';
    width: 79%;
  }
  .row.contact-form-section {
    background: #fff;
    box-shadow: 0px 7px 16px rgb(0 0 0 / 16%);
    border: 1px solid #FF3C4C;
    margin-top: 3%;
      .left-section {
        padding: 5% 2%;
        background-color: #FF3C4C;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          .contact_heading {
            margin-bottom: 4%;
            h4 {
              font-size: 32px;
              text-transform: uppercase;
              color: #fff;
              font-weight: 600;
              font-family: 'Gellix';
            }
          }
          .contact_details {
            margin: 3% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
              padding: 0;
              list-style: none;
              li {
                color: #fff;
                text-decoration: none;
                font-size: 28px;
                font-weight: 400;
                font-family: 'Gellix';
                a {
                  color: #fff;
                  text-decoration: none;
                  font-size: 28px;
                  font-weight: 400;
                  font-family: 'Gellix';
                }
              }
            }
            .mobile_ul {
              list-style: disc !important;
              padding-left: 10% !important;
            }
          }
      }
      .right-section {
        padding: 5% 3%;
        .right-section-inner
        {
          .form-group {
            margin-bottom: unset !important;
            label {
              color: #707070;
              font-size: 20px;
              margin-bottom: 0px;
              font-family: 'Gellix';
            }
            .form-control {
              border: 1px solid #E3E3E3;
              color: #495057;
              font-size: 16px;
              font-family: 'Gellix';
              font-weight: 700;
              height: 50px;
              margin-bottom: 20px;
              &:focus {
                  border: 1px solid #E3E3E3;
                  box-shadow: none;
                }
                &::placeholder {
                  color: #180D1D;
                  opacity: 1;
                }
                &::-webkit-input-placeholder { /* Edge */
                  color: #180D1D;
                }

                &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                  color: #180D1D;
                }
          }
            .form-feedback {
              right: 18px;
            }
            .button-section {
              text-align: center;
              button {
                // background: $contact-color-new-red; // for button image
                padding: 0 10%;
                span {
                  font-size: 22px;
                  font-family: 'Gellix';
                }
              }
            }
          }
        }
    }
    .support-raffel{
      padding: 0px;
    }
  }
}

.btn-rounded:hover span, .btn-rounded:focus span
{
   transform: translateY(0%);
}
app-loader {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  section.custom-content-section {
    .row.contact-form-section {
      .left-section {
          .contact_details {
              &::before {content: " ";position: absolute;background: #ffffff;height: 40%;width: 2px;right: 0;top: 20%;}
          }
          .last-clm{
            .contact_details{
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }

@media (min-width: 320px) and (max-width: 992px) {
section.custom-content-section {
  .row.contact_text p {
    font-size: 18px;
  }
  .section-title-custom {
      text-align: center;
      width: 100%;
      margin-bottom: 6%;
      h1{
        font-size: 46px !important;
      }
      h1::after {
        left: 50%;
      }
  }
  .row.contact-form-section {

    .left-section {
          clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
          .contact_heading {
            display: none;
          }
        .contact_details {
          text-align: center;
          img {
            margin-bottom: 4%;
          }
          ul {
            li {
              font-size: 20px;
              font-weight: 400;
              a {
                font-size: 20px;
              }
            }
          }
        }
    }
  }
}
}

@media (max-width: 767px) {
  section.custom-content-section {
    .contact_text {
      margin: 0 auto;
  }
  .row.contact-form-section {
    margin: 3% 0 !important;
  }
    .row.contact-form-section {
      .left-section {
          .contact_details {
            ul {
              li {
                font-size: 14px;
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
}

@media (max-width: 376px) {
  section.custom-content-section {
      .section-title-custom {
        h1 {
          font-size: 46px !important;
        }
        h1::after {
          width: 45%;
        }
      }
      .contact_text {
          p {
          width: 100% !important;
          margin: 0 auto;
          text-align: left;
          }
      }
      .row.contact-form-section {
        margin: 8% 0 !important;
        .left-section {
            .contact_details {
              ul {
                li {
                  font-size: 12px;
                  a {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
    }
}
@media (max-width: 767px){
  section.custom-content-section {
    .row.contact-form-section {
      .left-section {
        .last-section{
          display: none !important;
        }
      }
    }
  }
}
@media (min-width: 768px){
  section.custom-content-section {
    .row.contact-form-section {
      .left-section {
        .last-sectio-show{
          display: none;
        }
      }
    }
  }
}



