<div class="page content-page about-us-page-banner">
  <section class="section-cover">
<div class="baner-box image-mobile custom-about-banner11">
  <video playsinline autoplay="autoplay" *ngIf="ShowVideoImg" [muted]="true" loop="true" style="width: 100%;">
    <source src="assets/video/about_us_NOTEXT.mp4" type="video/mp4" >
  </video>
  <img src="../../../assets/images/about/about_us_no.jpg"  alt=""  style="margin-top: 50px;" *ngIf="!ShowVideoImg">

  <h2 class="about_banner_text">{{'about' | translate}}</h2>
</div>
<!-- <div class="baner-box aboutpagevideosection">
  <video playsinline autoplay="autoplay" muted loop="true" id="video-banner">
    <source src="assets/video/about_us_NOTEXT.mp4" type="video/mp4" >
  </video>
  <h2 class="AboutUsvideoText">about us</h2>
  <div class="banner-btn inner-btn">
  </div>
</div> -->


</section>
<section class="content-section about-us-page">
  <!-- <div class="banner">
    <a href="#">
      
      <img class="banner-image d-none d-xl-block" src="assets/images/about/about1lefttab.jpg">
     
      <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/about/about3righttab.jpg">

      <img class="banner-image d-md-none" src="assets/images/about/about2righttab.jpg">
    </a>
  </div>  -->
  <div class="content">
    <!-- <h1 class="title">{{'our_raffles' | translate}}</h1>
    <h3>{{'play_and_win_text' | translate}}</h3>
    <p>{{'promotion_text' | translate}}</p>
    <p>{{'promotion_text_two' | translate}}</p>
    <h2 class="title">{{'our raffles' | translate | lowercase}}</h2>
    <p>{{'promotion_text_three' | translate}}</p>
    <p>{{'promotion_text_four' | translate}}</p> -->

    <h1 class="title">{{'about_us_our_story_dream_it_win_header' | translate}}</h1>
    <h2 class="title">{{'home_your_day_sub_header' | translate}}</h2>
    <p>{{'about_us_our_stroy_dream_paragraph_1' | translate}}</p>
    <h2 class="title">{{'about_us_our_mission_to_create_header' | translate}}</h2>
    <p> {{'our_mission_to_create_left_para' | translate}}</p>
    <h2 class="title">{{'about_us_our_transparency_Fixed_Odds_header' | translate}}</h2>
    <p>{{'about_us_our_transparency_Fixed_Odds_header_para' | translate}}</p>
    <h2 class="title">{{'about_us_our_guarantee_every_raffle_wins_header' | translate}}</h2>
    <p>{{'about_us_our_guarantee_every_raffle_wins_header_para' | translate}}<b>{{'about_us_our_guarantee_every_raffle_wins_header_para2' | translate}}</b>{{'about_us_our_guarantee_every_raffle_wins_header_para3' | translate}}</p>
    <div class="JoinButton">
        <button class="btn-rounded" (click)="register()">{{'join_now' | translate}}</button>
    </div>
  </div>
  <!-- <div class="banner">
    <a href="#">
     
       <img class="banner-image d-none d-xl-block" src="assets/images/about/ad2.jpg"> 

      <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/about/about3lefttab.jpg">

      <img class="banner-image d-md-none" src="assets/images/about/about2lefttab.jpg">
    </a>
  </div> -->
</section>
<a #aboutRaffles></a>
<app-raffles-swiper></app-raffles-swiper>
</div>
