<app-loader *ngIf="isLoadingUser || loading"></app-loader>

<ng-container *ngIf="!isLoadingUser && !loading">
    <app-header
            (collapse)="collapseMenu()"
            [isMenuCollapsed]="isMenuCollapsed"
            [fordropdownValue]="fordropdownValue"
    ></app-header>

    <!-- Main -->
    <main role="main">
        <router-outlet></router-outlet>
    </main>

    <app-footer ></app-footer>
    <div class="cookie_modal_body" [ngStyle]="{'display':isBlockNone}"> 
        <button
        type="button"
        aria-label="Close"
        (click)="onsubmitData(false)"
        class="close-icon"
        >
        <span aria-hidden="true">&times;</span>
          </button>
        <div class="contentStyle">
          <p class="contentText contentfortablet desktopview">{{'cookie_modal_text_desktop' | translate}}
             </p>
      
          <p class="tabletView"> {{'cookie_modal_text_tablet' | translate}}
          </p>
      
          <p class="mobileView"> {{'cookie_modal_text_mobile' | translate}}
          </p>
          
          <div class="container">
            <div class="triangle"></div>
          </div>
      
          <div class="accept_and_continue_section" style="text-align: right;">
            <button class="btn-rounded"
            (click)="onsubmitData(true)"
            >{{'accept_and_continue' | translate}}
            </button>
          </div> 
        </div>
      </div>
</ng-container>
