<div class="modal-body flex-column payment-modal">
  <header>
    <img src="../../../assets/images/payment-logo.svg" />
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeActiveModal()"
      [disabled]="isProcesssing ? true : false"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </header>
  <section class="page fp-pb set_min_height">
    <div class="form-container section-title h-100 justify-content-between">
      
      
      <form
        name="myform"
        #paymentForm="ngForm"
        class="login-form payment-form payment_form_fontsize"
        (ngSubmit)="buyTickets(paymentForm)"
      >

      <div class="form-title mt-xl-0 mb-xl-4 d-flex flex-column w-100">
        <app-loader *ngIf="loading"></app-loader>
        <div *ngIf="this.connectedUser!=null || this.connectedUser !=undefined; else show_email">
          <div class = "welcome-message">
            <span class="welcome-back">{{'welcomeback_txt' | translate}}</span> {{this.connectedUser.firstName}}<br>
            {{'you_are_just_a_step_away_to_purchase_txt' | translate}}<br>{{'click_pay_now_txt' | translate}}
          </div>
        </div>
        <ng-template #show_email> 
          <div>
            <div class="form-group">
              <div class="input-icon-wrap">
             <input
              type="text"
              name="userEmail"
              id="userEmail"
              class="form-control input-with-icon paymentModalEmailin"
              [(ngModel)]="userEmail"
              minlength="4"
              appForbiddenName="bob"
              (keyup)="validateEmail1(email2.value)"
              #email2
              email="true"
              autofocus
              autocomplete="off"
             (focusout)="validationForEmail(email2.value)"
              placeholder="{{'email_placeholder_payment_pop' | translate}}"
              required
            />
            <span class="form-feedback" style="right: 4px;top: 45px;"  *ngIf="!isEmailValid1">{{'required' | translate}}</span>
            <span class="payform-feedback" style="font-size: 10px;"  *ngIf="isEmailValid1">{{ 'invalid mail' | translate}}</span>
            <span class="payform-feedback" *ngIf="UserIsBlocked">
              please contect to admin 
            </span>
            </div>
            </div>
          </div>
          <!-- <span class="paymentLinkFontSize" > {{this.connectedUser}} <a href="javascript:" (click)="modalService.openRegisterModal()">{{'create_account_txt' |translate}} </a><span>{{'by_yourself_txt' |translate}} </span>
            <a href="javascript:" (click)="modalService.openLoginModal()">{{'login_txt' |translate}}</a>
          </span> -->
        </ng-template>
      
      <div class="separator align-self-center"></div>
      <p
        class="login-description mt-2 mb-4 mb-xl-0 mail-description align-self-center"
        style="font-size: 18px"
      >
        {{ "payment_popup_title" | translate }}:
      </p>
    </div>
        <div
          class="radio_payment_form"
          >
          <ng-container>
            <ul class="left_payment_price">
              <div class="big-deal-item-payment" [ngClass]="{'selectedBorder' : this.PackageId == pckList[0].id}" *ngIf="selectedPackage.price > pckList[0].price ? false : true" (click)="selectPackage(pckList[0])">
                <span class="selectedPackage" *ngIf="this.PackageId == pckList[0].id">{{'selected_txt'| translate}}</span>
                <div class="textaglinCenter">
                  <span >{{raffle?.rafflePackages[0].ticketsNumber}}</span><br>
                  <span >{{'tickets' | translate}}</span>
                </div>
                <button type="button" class="btn-rounded1" disabled>
                  <span>{{"only" | translate}}{{' $'+raffle?.rafflePackages[0].price}}{{"price" | translate}} </span>
                </button>
              </div>

              <div class="big-deal-item-payment" [ngClass]="{'selectedBorder' : this.PackageId == pckList[1].id}" *ngIf="(selectedPackage.price > pckList[1].price ? false : true)&&  PackageId!=1" (click)="selectPackage(pckList[1])">
                <span class="selectedPackage" *ngIf="this.PackageId == pckList[1].id">{{'selected_txt'| translate}}</span>
                <div class="textaglinCenter">
                  <span >{{raffle?.rafflePackages[1].ticketsNumber}}</span><br>
                  <span >{{'tickets' | translate}}</span>
                </div>
                <button type="button" class="btn-rounded1" disabled>
                 <span>{{"only" | translate}}{{' $'+raffle?.rafflePackages[1].price}}{{"price" | translate}} </span>
                </button>
              </div>

              <div  class="big-deal-item-payment" [ngClass]="{'selectedBorder' : this.PackageId == pckList[2].id}" *ngIf="(selectedPackage.price > pckList[2].price ? false : true) &&  PackageId!=1 && PackageId!=2" (click)="selectPackage(pckList[2])">
                <span class="selectedPackage" *ngIf="this.PackageId == pckList[2].id; else notselected5x">{{'selected_txt'| translate}}</span>
                <ng-template #notselected5x><span class="notSelectedPackage">25X {{'entries' | translate}}!</span></ng-template>
                <div class="textaglinCenter">
                  <span >{{raffle?.rafflePackages[2].ticketsNumber}}</span><br>
                  <span >{{'tickets' | translate}}</span>
                </div>
                <button type="button" class="btn-rounded1" disabled>
                  <span>{{"only" | translate}}{{' $'+raffle?.rafflePackages[2].price}}{{"price" | translate}} </span>
                </button>
              </div>

              <div class="big-deal-item-payment"  [ngClass]="{'selectedBorder' : this.PackageId == pckList[3].id}"*ngIf="selectedPackage.price > pckList[3].price ? false : true" (click)="selectPackage(pckList[3])">
                <span class="selectedPackage" *ngIf="this.PackageId == pckList[3].id; else notselected6x">{{'selected_txt'| translate}}</span>
                <ng-template #notselected6x><span class="notSelectedPackage">60X {{'entries' | translate}}!</span></ng-template>
                <div class="textaglinCenter">
                  <span >{{raffle?.rafflePackages[3].ticketsNumber}}</span><br>
                  <span >{{'tickets' | translate}}</span>
                </div>
                <button type="button" class="btn-rounded1" disabled>
                 <span>{{"only" | translate}}{{' $'+raffle?.rafflePackages[3].price}}{{"price" | translate}} </span>
               </button>
              </div>

              <div  class="big-deal-item-payment" [ngClass]="{'selectedBorder' : this.PackageId == pckList[4].id}" *ngIf="selectedPackage.price > pckList[4].price ? false : true" (click)="selectPackage(pckList[4])">
                <span class="selectedPackage" *ngIf="this.PackageId == pckList[4].id; else notselected7x">{{'selected_txt'| translate}}</span>
                <ng-template #notselected7x><span class="notSelectedPackage">100X {{'entries' | translate}}!</span></ng-template>
              <div class="textaglinCenter">
                <span >{{raffle?.rafflePackages[4].ticketsNumber}}</span><br>
                <span>{{'tickets' | translate}}</span>
              </div>
              <button type="button" class="btn-rounded1" disabled>
               <span>{{"only" | translate}}{{' $'+raffle?.rafflePackages[4].price}}{{"price" | translate}} </span>
              </button>
              </div>
              <!-- <li *ngIf="selectedPackage.price > pckList[0].price ? false : true">
                <input class="payment_form_radio" name="paymentPrice" type="radio" id="1" [checked]="this.PackageId == pckList[0].id?'checked':''" (click)="selectPackage(pckList[0])">
                <label for="1" [class]="this.PackageId == pckList[0].id?'':'hideCheckbox'">$200.00 <span>(20 {{'tickets' | translate}})</span></label>
              </li>
              <li  *ngIf="(selectedPackage.price > pckList[1].price ? false : true)&&  PackageId!=1">
                <input class="payment_form_radio" name="paymentPrice" type="radio" id="2" [checked]="this.PackageId == pckList[1].id?'checked':''" (click)="selectPackage(pckList[1])">
                <label for="2" [class]="this.PackageId == pckList[1].id?'':'hideCheckbox'">$500.00 <span>(125 {{'tickets' | translate}})</span></label>
              </li>
              <li  *ngIf="(selectedPackage.price > pckList[2].price ? false : true) &&  PackageId!=1 && PackageId!=2" >
                <input class="payment_form_radio" name="paymentPrice" type="radio" id="3" [checked]="this.PackageId == pckList[2].id?'checked':''" (click)="selectPackage(pckList[2])">
                <label for="3" [class]="this.PackageId == pckList[2].id?'':'hideCheckbox'">$999.00 <span>(500 {{'tickets' | translate}})</span></label>
              </li>

              <li  *ngIf="((selectedPackage.price > pckList[3].price ? false : true))">
                <input class="payment_form_radio" name="paymentPrice" type="radio" id="4" [checked]="this.PackageId == pckList[3].id?'checked':''" (click)="selectPackage(pckList[3])">
                <label for="4" [class]="this.PackageId == pckList[3].id?'':'hideCheckbox'">$1999.00 <span>(1200 {{'tickets' | translate}})</span></label>
              </li>
              <li  *ngIf="((selectedPackage.price > pckList[4].price ? false : true))">
                <input class="payment_form_radio" name="paymentPrice" type="radio" id="5" [checked]="this.PackageId == pckList[4].id?'checked':''" (click)="selectPackage(pckList[4])">
                <label for="5" [class]="this.PackageId == pckList[4].id?'':'hideCheckbox'">$2999.00 <span>(2000 {{'tickets' | translate}})</span></label>
              </li> -->
            </ul>
          </ng-container>
        </div>

        <div class="form-group">
          <div class="input-icon-wrap">
            <input
              type="text"
              name="cardname"
              id="cardname"
              class="form-control input-with-icon"
              [(ngModel)]="cardName"
              minlength="1"
              appForbiddenName="bob"
              placeholder="{{'payment_name_on_card' |translate}}"
              #cardname="ngModel"
              required
              (keyup)="nameIsValid()"
              (focus)="onFocus()"
            />
            <span *ngIf="nameValidation" class="custom-validatio-field">{{nameValidationMessage}}</span>
            <span class="form-feedback">{{'required' | translate}}</span>

          </div>
        </div>
        <div class="form-group">
          <div class="input-icon-wrap">
            <input
              type="tel"
              id="cardnumber"
              name="cardnumber"
              class="form-control input-with-icon"
              [(ngModel)]="cardNumber"
              minlength="10"
              placeholder="{{'paymet_card_number' | translate}}"
              #cardnumber="ngModel"
              pattern="[- +()0-9]+"
              [textMask]="{mask: paymentCardNumber,guide: false, showMask: true}"
              required
              (focus)="onFocus()"
            />
            <span class="form-feedback cardNumber-validation">{{'required' | translate}}</span>
            <div class="form-card-img">
              <img src="../../../assets/images/form-card-img.svg" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6 pr-2">
              <label class="paymentExpriration"> {{'payment_expiration_date' |translate}}</label>
              <div class="input-icon-wrap input-month-year">
                <input
                  type="tel"
                  class="form-control input-with-icon input_date_padding"
                  id="expDate"
                  name="expDate"
                  [(ngModel)]="expDate"
                  placeholder= "{{'payment_MM_YY' |translate}}"
                  [textMask]="{mask: expirationDate,guide: false, showMask: true}"
                  required
                  (keyup)="cardDetailIsValid()"
                  (focus)="onFocus()"
                />
                <span class="form-feedback">{{'required' | translate}}</span>
                <span *ngIf="yearValidation" class="custom-validatio-field">{{yearValidationMessage}}</span>
              </div>
            </div>
            <div class="col-6 pl-2">
              <label style="font-size: 14px;"> {{'payment_security_code' |translate}}</label>
              <div class="input-icon-wrap payment-cvv">
                <input
                  type="tel"
                  class="form-control input-with-icon "
                  id="securityCode"
                  name="securityCode"
                  #cvvNumber
                  [(ngModel)]="securityCode"
                  placeholder=""
                  minlength="3"
                  [textMask]="{mask: cvv,guide: false, showMask: true}"
                  required
                  (focus)="onFocus()"
                />
                <span class="form-feedback security-code">{{'required' | translate}}</span>
                 <!-- <span class="text-danger validation" *ngIf="securityCode.touched || paymentForm.submitted">
                  <span *ngIf="securityCode.errors.required"> number is required</span>
                </span> -->
                <!-- <div class="code-icon">
                  <img src="../../../assets/images/security-code-img.svg" />
                </div> -->
                <!-- <span class="form-feedback">{{
                  "wrong number" | translate
                }}</span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="form-group  mb-0 custom-chebox" *ngIf="!this.connectedUser">
          <div class="custom-control custom-checkbox">
            <input
              [(ngModel)]="ageCheckbox"
              name="ageCheckbox"
              class="custom-control-input"
              id="inputAgeCheckbox"
              type="checkbox"
            />
            <label class="custom-control-label custom_signup_checkbox_text paymentTermsCheckBox" (click)="ageCheckbox1()" #agecheck for="inputAgeCheckbox">
              <span class="term-condition-section">
              <span>{{ "I_am_over_18_years_old" | translate }} </span>
              <span>  <a routerLink="terms-of-use"  target="_blank">{{ "Terms_and_Conditions" | translate }}</a></span>
              <span> <a routerLink="policy" target="_blank">{{ "Privacy_Policy" | translate }}</a> </span>
              <span><a routerLink="responsibleRaffle" target="_blank">{{ "Usage_policy" | translate }}</a> </span>
              <span> {{ "and" | translate }}</span>
              <span><a routerLink="policy" target="_blank"> {{ "Cookies_Policy" | translate }}</a></span>
            </span>
            </label>
          </div>
        </div>
        <!-- <div class="form-group mb-0 custom-chebox">
          <div class="custom-control custom-checkbox">
            <input
              id="reached_maturity"
              name="reached_maturity"
              class="form-control custom-control-input"
              type="checkbox"
              [(ngModel)]="reachedMaturity"
              required
              (click)="checkBoxOfMaturityValidation()"
              (focus)="onFocus()"
            />
            <label class="custom-control-label" id="valid_checkbox" for="reached_maturity">
              {{ "i_am_over_the_age_of_18" | translate }}
            </label>
          </div>
        </div> -->
        <!-- <div class="form-group mb-0 custom-chebox">
          <div class="custom-control custom-checkbox">
            <input
              id="accept_anonymous_account"
              name="accept_anonymous_account"
              class="form-control custom-control-input"
              type="checkbox"
              [(ngModel)]="acceptAnonymousAccount"
              required
              (click)="checkBoxOfAcceptValidation()"
              (focus)="onFocus()"
            />
            <label class="custom-control-label" id="valid_checkbox1" for="accept_anonymous_account">
              {{ "accept_anonymous_account_checkbox" | translate }}
            </label>

          </div>
        </div> -->
        <!-- <span *ngIf="isCheckBoxValid" class="custom-feedback">Both checkbox required</span> -->
        <!-- <div class="form-group mb-0">
          <div class="custom-control custom-checkbox">
            <input
              name="rememberMe2"
              class="custom-control-input"
              id="inputRememberMe2"
              type="checkbox"
            />
            <label class="custom-control-label" for="inputRememberMe2">
              {{ "Test Test Test" | translate }}
            </label>
          </div>
        </div> 
        <div class="wrong-credentials">
          {{ "wrong_credentials" | translate }}
        </div>-->

        <button class="btn-rounded btn-login mb-3" type="submit">
          <span [attr.data-hover]="'payment_pay_now' | translate">{{"payment_pay_now" | translate}}</span>
        </button>
      </form>
    </div>
  </section>
</div>
