<div class="page content-page">
    <section class="section-cover">
  <div class="baner-box image-mobile custom-terms-banner11">
    <video playsinline autoplay="autoplay" [muted]="true" loop="true" id="" class="gambling_vidio" *ngIf="ShowVideoImg">
      <source src="../../../assets/images/policy/policy-banner.mp4" type="video/mp4" >
    </video>
    <img src="../../../assets/images/about/our_policy_winner.jpg"  alt="" style="margin-top: 50px;" *ngIf="!ShowVideoImg">
    <h2>{{'terms' | translate}}</h2>
    <!-- <div class="banner-btn inner-btn">
      <button *ngIf="!accountService.connectedUser;" class="btn-rounded" type="button" (click)="modalService.openRegisterModal()">
        <span [attr.data-hover]="'join_now' | translate | uppercase">{{"join_now" | translate | uppercase}}</span>
      </button>
      <a (click)="scroll()" *ngIf="accountService.connectedUser;" class="btn-rounded btn-outlined-white btn-join">
        <span [attr.data-hover]="'enter_to_win' | translate | uppercase">{{"enter_to_win" | translate | uppercase}}</span>
      </a>
    </div> -->
  </div>
  </section>
  <section class="content-section">
    <!-- <div class="banner">
      <a href="#">
         Desktop 
        <img class="banner-image d-none d-xl-block" src="assets/images/Mask Group.png">
         Tablet 
        <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/policy/policy-ad1-tab.png">
         Mobile  
        <img class="banner-image d-md-none" src="assets/images/policy/policy-ad1-mobile.png">
      </a>
    </div> -->
    <div class="content">
      <h3 class="title">{{'terms_of_use_section1_heading_1' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section1_para1_part1' | translate}}<a href="https://www.2raffle.mx" target="_blank">{{'siteurl' | translate}}</a>{{'terms_of_use_section1_para1_part2' | translate}}</p>
      <p><a href="https://www.2raffle.mx" target="_blank">{{'siteurl' | translate}}</a>{{'terms_of_use_section1_para2_part1' | translate}}<strong>{{'terms_of_use_section1_para2_part2' | translate}}</strong>{{'terms_of_use_section1_para2_part3' | translate}}<strong>{{'terms_of_use_section1_para2_part4' | translate}}</strong>{{'terms_of_use_section1_para2_part5' | translate}}<strong>{{'terms_of_use_section1_para2_part6' | translate}}</strong>{{'terms_of_use_section1_para2_part7' | translate}}</p>
      <p>{{'terms_of_use_section1_para3' | translate}}</p>
      <ol type="a">
        <li>{{'terms_of_use_section1_para3_list1' | translate}}</li>
        <li>{{'terms_of_use_section1_para3_list2' | translate}}</li>
        <li>{{'terms_of_use_section1_para3_list3' | translate}}</li>
        <li>{{'terms_of_use_section1_para3_list4' | translate}}</li>
      </ol>
      <p>{{'terms_of_use_section1_after_list' | translate}}</p>
      <p>{{'terms_of_use_section1_para4_part1' | translate}}“<strong>{{'terms_of_use_section1_para4_part2' | translate}}</strong>”.</p>
      <p>{{'terms_of_use_section1_para5' | translate}}</p>
      <p>{{'terms_of_use_section1_para6' | translate}}</p>
      <p>{{'terms_of_use_section1_para7' | translate}}</p>
      <p>{{'terms_of_use_section1_para8' | translate}}</p>
      <h3>{{'terms_of_use_section2_heading2' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section2_para1' | translate}}</p>
      <p>{{'terms_of_use_section2_para2' | translate}}</p>
      <p>{{'terms_of_use_section2_para3' | translate}}</p>
      <p>{{'terms_of_use_section2_para4' | translate}}</p>
      <p>{{'terms_of_use_section2_para5' | translate}}</p>
      <p>{{'terms_of_use_section2_para6' | translate}}</p>
      <p>{{'terms_of_use_section2_para7' | translate}}</p>
      <p>{{'terms_of_use_section2_para8' | translate}}</p>
      <p>{{'terms_of_use_section2_para9' | translate}}</p>
      <p>{{'terms_of_use_section2_para10' | translate}}</p>
      <p>{{'terms_of_use_section2_para11_part1' | translate }} <a href="https://www.2raffle.mx" target="_blank">{{'siteurl' | translate}}</a> {{'terms_of_use_section2_para11_part2' | translate }}.</p>
      <p>{{'terms_of_use_section2_para12' | translate}}</p>
      <p>{{'terms_of_use_section2_para13' | translate}}</p>
      <p>{{'terms_of_use_section2_para14' | translate}}</p>
      <h3>{{'terms_of_use_section3_heading3' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section3_para1' | translate}}</p>
      <p>{{'terms_of_use_section3_para1_1' | translate}}</p>
      <p>{{'terms_of_use_section3_para2' | translate}}</p>
      <p>{{'terms_of_use_section3_para3' | translate}}</p>
      <h3>{{'terms_of_use_section4_heading4' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section4_para1' | translate}}</p>
      <p>{{'terms_of_use_section4_para2' | translate}}</p>
      <p>{{'terms_of_use_section4_para3' | translate}}</p>
      <p>{{'terms_of_use_section4_para4' | translate}}</p>
      <h3>{{'terms_of_use_section5_heading5' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section5_para1' | translate}}</p>
      <p>{{'terms_of_use_section5_para2' | translate}}</p>
      <p>{{'terms_of_use_section5_para3' | translate}}</p>
      <p>{{'terms_of_use_section5_para4' | translate}}</p>
      <p>{{'terms_of_use_section5_para5' | translate}}</p>
      <p>{{'terms_of_use_section5_para6' | translate}}</p>
      <p>{{'terms_of_use_section5_para7' | translate}}</p>
      <h3>{{'terms_of_use_section6_heading6' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section6_para1' | translate}}</p>
      <p>{{'terms_of_use_section6_para2' | translate}}</p>
      <p>{{'terms_of_use_section6_para3' | translate}}</p>
      <p>{{'terms_of_use_section6_para4' | translate}}</p>
      <h3>{{'terms_of_use_section7_heading7' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section7_para1' | translate}}</p>
      <p>{{'terms_of_use_section7_para2' | translate}}</p>
      <p>{{'terms_of_use_section7_para3' | translate}}</p>
      <h3>{{'terms_of_use_section8_heading8' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section8_para1' | translate}}</p>
      <p>{{'terms_of_use_section8_para3' | translate}}</p>
      <p>{{'terms_of_use_section8_para4' | translate}}</p>
      <p>{{'terms_of_use_section8_para5' | translate}}</p>
      <p>{{'terms_of_use_section8_para6' | translate}}</p>
      <h3>{{'terms_of_use_section9_heading9' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section9_para1' | translate}}</p>
      <h3>{{'terms_of_use_section10_heading10' | translate |uppercase}}</h3>
      <h4>{{'terms_of_use_section10_subheading1' | translate | uppercase}}</h4>
      <p>{{'terms_of_use_section10_para1' | translate}}</p>
      <p>{{'terms_of_use_section10_para2' | translate}}</p>
      <p>{{'terms_of_use_section10_para3' | translate}}</p>
      <p>{{'terms_of_use_section10_para4' | translate}}</p>
      <p>{{'terms_of_use_section10_para5' | translate}}</p>
      <p>{{'terms_of_use_section10_para6' | translate}}</p>
      <p>{{'terms_of_use_section10_para7' | translate}}</p>
      <p>{{'terms_of_use_section10_para8' | translate}}</p>
      <p>{{'terms_of_use_section10_para9' | translate}}</p>
      <p>{{'terms_of_use_section10_para10' | translate}}</p>
      <p>{{'terms_of_use_section10_para10.1' | translate}}</p>
      <p>{{'terms_of_use_section10_para10.2' | translate}}</p>
      <p>{{'terms_of_use_section10_para11.1' | translate}}</p>

      <h3>{{'terms_of_use_awards_heading' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_awards_para1' | translate}}</p>
      <p>{{'terms_of_use_awards_para2' | translate}}</p>
      <ol>
        <li>{{'terms_of_use_awards_bullet1' | translate}}</li>
        <li>{{'terms_of_use_awards_bullet2' | translate}}</li>
        <li>{{'terms_of_use_awards_bullet3' | translate}}</li>
        <li>{{'terms_of_use_awards_bullet4' | translate}}</li>
        <li>{{'terms_of_use_awards_bullet5' | translate}}</li>
        <li>{{'terms_of_use_awards_bullet6' | translate}}<br/>
            {{'terms_of_use_awards_bullet6_1' | translate}}<br/>
            {{'terms_of_use_awards_bullet6_2' | translate}}<br/>
        </li>
        <li>{{'terms_of_use_awards_bullet7' | translate}}<br/>
            {{'terms_of_use_awards_bullet7_1' | translate}}
        </li>
      </ol>
      <h3>{{'terms_of_use_section11_heading11' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section11_para1' | translate}}</p>
      <p>{{'terms_of_use_section11_para2' | translate}}</p>
      <p>{{'terms_of_use_section11_para3' | translate}}</p>
      <p>{{'terms_of_use_section11_para4' | translate}}</p>
      <p>{{'terms_of_use_section11_para5' | translate}}</p>
      <p>{{'terms_of_use_section11_para6' | translate}}</p>
      <p>{{'terms_of_use_section11_para7' | translate}}</p>
      <h3>{{'terms_of_use_section12_heading12' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section12_para1' | translate}}</p>
      <p>{{'terms_of_use_section12_para2' | translate}}</p>
      <p>{{'terms_of_use_section12_para3' | translate}}</p>
      <h3>{{'terms_of_use_section13_heading13' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section13_para1' | translate}}</p>
      <p>{{'terms_of_use_section13_para1_add' | translate}}</p>
      <p>{{'terms_of_use_section13_para2' | translate}}<a href="mailto:{{'terms_of_use_section13_supportRaffleUrl' | translate}}">{{'terms_of_use_section13_supportRaffleUrl' | translate}}</a></p>
      <p>{{'terms_of_use_section13_para3' | translate}}</p>
      <p>{{'terms_of_use_section13_para4' | translate}}</p>
      <h3>{{'terms_of_use_section14_heading14' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section14_para1' | translate}}</p>
      <p>{{'terms_of_use_section14_para2' | translate}}</p>
      <h3>{{'terms_of_use_section15_heading15' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section15_para1' | translate}}</p>
      <ol type="i" style="padding-left: 17px;">
        <li>
          {{'terms_of_use_section15_para1_list1' | translate}}
        </li>
        <li>{{'terms_of_use_section15_para1_list2' | translate}}</li>
        <li>{{'terms_of_use_section15_para1_list3' | translate}}</li>
        <li>{{'terms_of_use_section15_para1_list4' | translate}}</li>
      </ol>
      <h3>{{'terms_of_use_section16_heading16' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section16_para1' | translate}}</p>
      <p>{{'terms_of_use_section16_para2' | translate}}</p>
      <p>{{'terms_of_use_section16_para3' | translate}}</p>
      <p> {{'terms_of_use_section16_para3_add_last' | translate}}</p>
      <p>{{'terms_of_use_section16_para5' | translate}}</p>
      <p>{{'terms_of_use_section16_para4' | translate}}</p>

      <ol type="a" style="padding-left: 17px;">
        <li>{{'terms_of_use_section16_para5_list1' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list2' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list3' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list4' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list5' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list6' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list7' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list8' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list9' | translate}}</li>
        <li>{{'terms_of_use_section16_para5_list10' | translate}}</li>
      </ol>
      <h3>{{'terms_of_use_section17_heading17' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section17_para1' | translate}}</p>
      <h3>{{'terms_of_use_section18_heading18' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section18_para1' | translate}}</p>
      <h3>{{'terms_of_use_section19_heading19' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section19_para1' | translate}}</p>
      <h3>{{'terms_of_use_section20_heading20' | translate | uppercase}}</h3>
      <p>{{'terms_of_use_section20_para1' | translate}}</p>
      <p>{{'terms_of_use_section20_para2' | translate}}</p>

    </div>
    <!-- <div class="banner">
      <a href="#"> 
        
        <img class="banner-image d-none d-xl-block" src="assets/images/about/ad2.jpg">
        
        <img class="banner-image d-none d-md-block d-xl-none" src="assets/images/policy/policy-ad2-tab.png">
        
        <img class="banner-image d-md-none" src="assets/images/policy/policy-ad2-mobile.png">
      </a>
    </div> -->
  </section>
  <a #termsRaffles></a>
  <app-raffles-swiper></app-raffles-swiper>
  </div>
