<!--ToDo: upd translations-->
<app-loader *ngIf="loading" class="loading-forgot-pass"></app-loader>
<div class="modal-body">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="Activemodalclose();"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="page fp-pb">
   
    <div class="form-container section-title">
      <!-- Logo -->

      <img
        class="login-logo-img d-none d-xl-block"
        alt=""
        src="assets/images/logo_r.svg"
      />

      <div class="form-title mt-55">
        <h2 style="color: #180D1D;" class="">{{'forgot' | translate}} <br>{{'Password' | translate }}?</h2>

        <p class="login-description mt-5" style="font-size: 16px; line-height: 21px;">
          {{'password_reset_instruction' | translate}} 
        </p>
      </div>

      <form
        #recoveryForm="ngForm"
        [class.disabled]="loading"
        class="password-recovery-form"
        (ngSubmit)="sendPasswordRecovery(recoveryForm)"
      >
        <div class="form-group">
          <div class="input-icon-wrap">
            <span class="input-icon transition"
              ><img src="assets/images/icons/email.svg" alt=""
            /></span>
            <input
              type="email"
              class="form-control input-with-icon"
              id="form-name" 
              placeholder="{{'Email' | translate}}"
              name="forgot-password-email"
              [(ngModel)]="email"
              (keyup)="validateEmail1(email2.value)"
              autocomplete="off"
              email="true"
              #email2
              required
            />
            <span class="form-feedback1" *ngIf="isEmailValid1" style="font-size: 10px;">{{ "invalid mail" | translate }}</span>
          </div>
        </div>

        <div class="wrong-credentials">
          {{ "wrong_credentials" | translate }}
        </div>

        <button
          [disabled]="loading"
          style="width: 275px; margin-bottom: 40px;"
          class="btn-rounded btn-login mt-1"
          type="submit"
        >
          <span *ngIf="loading; else loginText">Loading</span>
          <ng-template #loginText>
            <span [attr.data-hover]="'lets_start' | translate | uppercase">{{
              "lets_start" | translate | uppercase
            }}</span>
          </ng-template>
        </button>
      </form>
     
      <a
      href="javascript:"
      (click)="modalService.openLoginModal()"
      class="back-to-login transition "
      >{{ "back_to_login" | translate }}</a
    >
     
    </div>

    <!-- Login image -->
    <div class="image-container"></div>
  </section>
  <div class="forgot-pass-img">
    <h2 style="color: #180D1D;" class="">{{'forgot' | translate | uppercase}} {{'Password' | translate | uppercase}}?</h2>
    <!-- <img class="d-xl-none" alt="" src="assets/images/2raffle-logo.svg" /> -->
  </div>
</div>
