<!--ToDo: upd translations-->

<div class="modal-body">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModalClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <section class="page fp-pb">
      <!-- <app-loader *ngIf="loading"></app-loader> -->
      <div class="form-container section-title">
        <!-- Logo -->
  
        <img
          class="login-logo-img d-none d-xl-block"
          alt=""
          src="assets/images/logo_r.svg"
        />
  
        <div class="form-title mt-35 mb-4">
          <h2 style="color:#232323;" class="">{{'change_password' | translate | uppercase}}</h2>  
        </div>
  
        <form
          #changePasswordForm="ngForm"
          class="password-recovery-form"
          (ngSubmit)="updateUserPassword(changePasswordForm)"
        >
          <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="oldPassword">{{"Old_Password" | translate}}</label>
                <div class="input-icon-wrap">
                  <input
                    [type]="showPasswordOld ? 'text' : 'password'"
                    class="form-control input-with-icon"
                    name="oldPassword"
                    placeholder='{{"Old_Password" | translate}}'
                    [(ngModel)]="changePasswordData.oldPassword"
                    required
                  />
                  <span class="form-feedback">{{"password required" | translate}}</span>
                  
                  <span class="form-feedback1"  *ngIf="oldPasswordError">{{"Old password is not correct" | translate}}</span>
                  <span class="password-show" (click)="togglePasswordVisibility('old')">
                    <img
                      [src]="
                        'assets/images/icons/' +
                        (showPasswordOld ? 'eye_on' : 'eye') +
                        '.png'
                      "
                      alt=""
                    />
                  </span>
                </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="newPassword">{{"New_Password" | translate}}</label>
                <div class="input-icon-wrap">
                  <input
                    [type]="showPasswordNew ? 'text' : 'password'"
                    class="form-control input-with-icon"
                    name="newPassword"
                    placeholder='{{"New_Password" | translate}}'
                    [pattern]="passwordStrengthRegex"
                    [(ngModel)]="changePasswordData.newPassword"
                    #newPassword="ngModel"
                    required

                  />
                  <!-- <span class="form-feedback">{{"password required" | translate}}</span> -->
                  <span class="form-feedback passwordmatch">
                    <ng-container
                      *ngIf="
                        newPassword.errors &&
                        newPassword.errors.required
                      "
                    >
                      {{ "password required" | translate }}
                    </ng-container>
                    <ng-container
                      *ngIf="
                        newPassword.errors &&
                        newPassword.errors.pattern
                      "
                    >
                      {{ "password too weak" | translate }}
                    </ng-container>
                  </span>
                  <span class="password-show" (click)="togglePasswordVisibility('new')">
                    <img
                      [src]="
                        'assets/images/icons/' +
                        (showPasswordNew ? 'eye_on' : 'eye') +
                        '.png'
                      "
                      alt=""
                    />
                  </span>
                </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="repeatNewPassword">{{"Repeat_New_Password" | translate}}</label>
                <div class="input-icon-wrap">
                  <input
                    [type]="showPasswordRepeat ? 'text' : 'password'"
                    class="form-control input-with-icon"
                    name="repeatNewPassword"
                    placeholder='{{"Repeat_New_Password" | translate}}'
                    [(ngModel)]="changePasswordData.repeatNewPassword"
                    required
                  />
                  <span class="form-feedback">{{"password required" | translate}}</span>
                  <span class="form-feedback1" *ngIf="passwordMissMatch">{{"New password not matched" | translate}}</span>
                  <span class="password-show" (click)="togglePasswordVisibility('repeat')">
                    <img
                      [src]="
                        'assets/images/icons/' +
                        (showPasswordRepeat ? 'eye_on' : 'eye') +
                        '.png'
                      "
                      alt=""
                    />
                  </span>
                </div>
            </div>
          </div>
  
          <div class="form-group row">  
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 button-section changePassword-btn mt-4">
              <button                       
                    class="btn-rounded btn-login"
                    type="submit"
                >
                    <!-- <span>Save</span> -->
                    <span [attr.data-hover]="'save' | translate | uppercase">{{"save" | translate | uppercase }}</span>
                </button>

                <!-- <button                       
                    class="btn-rounded btn-cancel mt-3"
                    type="button"
                    (click)="activeModal.dismiss('Cross click')"
                >                        
                  <span>Cancel</span>
                </button> -->
                <button (click)="activeModalClose()"
                class="btn-rounded change-password-cancel" 
                type="button"
                >
                  <span style="color:#dc1522;" [attr.data-hover]="'cancel' | translate | uppercase">{{'cancel' | translate | uppercase}}</span>
                </button>

                <!-- <button   (click)="activeModalClose()" class="btn-rounded btn-white" type="button" >
              <span  style="color:#ffffff;" [attr.data-hover]="'cancel' | translate | uppercase">{{"cancel" | translate | uppercase }}</span>
            </button>
              -->
            </div>                    
          </div> 
        </form>
       
      </div>
  
      <!-- Login image -->
      <div class="image-container"></div>
    </section>
    <div class="change-pass-img">
      <h2 style="color:#232323;" class="">{{'change_password' | translate | uppercase}}</h2> 
      <!-- <img class="d-xl-none" alt="" src="" /> -->
    </div>
  </div>
  