<!--ToDo: upd translations-->

<div class="modal-body signup-modal">
  <button
  style="z-index: 999;"
    type="button"
    class="close"
    aria-label="Close"
    (click)="activemodalclose1()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  
    <div class="form_section">
  <section class="page">
    <app-loader *ngIf="loading;"></app-loader>
    <ng-container>
      <div class="form-container section-title">
        <!-- Logo -->

        <img
          class="login-logo-img d-none d-xl-block"
          alt=""
          src="assets/images/logo_r.svg"
        />

        <div class="form-title mt-xl-5 mb-xl-4" id="signup_modal_left_div">

          <h2 class="signup_modal_text">{{'signup_create_your_header_part_1' | translate}} {{'signup_create_your_header_part_2' | translate}}</h2>
          <p class="login-description mt-2">{{'signup_create_your_sub_header' | translate}}</p>
        </div>
        <form
          #registerForm="ngForm"
          [class.disabled]="loading"
          class="register-form"
          (ngSubmit)="register(registerForm)"
        >
          <div class="form-group">
            <div class="input-icon-wrap">
              <span class="input-icon transition"
                ><img src="assets/images/icons/email.svg" alt=""
              /></span>
              <input
                type="email"
                class="form-control input-with-icon"
                id="form-name"
                placeholder="{{'Email' | translate}}"
                name="registration-email"
                [(ngModel)]="email"
                (keyup)="validateEmail1(email2.value)"
                required
                #email2
                email="true"
                autocomplete="off"
              />
              <span class="form-feedback" *ngIf="requiredEmail">{{'required' | translate}}</span>
              <span class="form-feedback1" style="font-size: 10px;"  *ngIf="isEmailValid1">{{ 'invalid mail' | translate}}</span>

              <span class="form-feedback1" *ngIf="userExistsErrors" style="bottom: 0px !important;">
                {{'user_alredy_exist'| translate}}
              </span>
            </div>
          </div>

          <div class="form-group mb-4">
            <div class="input-icon-wrap">
              <span class="input-icon transition"
                ><img src="assets/images/icons/password.svg" alt=""
              /></span>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control input-with-icon"
                placeholder="{{'Password' | translate}}"
                name="registration-password"
                required
                [pattern]="passwordStrengthRegex"
                [(ngModel)]="password"
                #registrationPassword="ngModel"f
                autocomplete="off"
              />
              <span
                class="form-feedback"
                [ngClass]="{
                  show:
                    registrationPassword.errors && registrationPassword.touched
                }"
              >
                <ng-container
                  *ngIf="
                    registrationPassword.errors &&
                    registrationPassword.errors.required
                  "
                >
                  {{ "password required" | translate }}
                </ng-container>
              </span>
              <span class="long-text password-error">
                <ng-container
                *ngIf="
                  registrationPassword.errors &&
                  registrationPassword.errors.pattern
                "
              >
                {{ "password too weak" | translate }}
              </ng-container>
              </span>
              <span class="password-show" (click)="togglePasswordVisibility()">
                <img
                  [src]="
                    'assets/images/icons/' +
                    (showPassword ? 'eye_on' : 'eye') +
                    '.png'
                  "
                  alt=""
                />
              </span>
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="custom-control custom-checkbox">
              <input
                [(ngModel)]="rememberMe"
                name="rememberMe"
                class="custom-control-input"
                id="inputRememberMe"
                type="checkbox"
              />
              <label class="custom-control-label custom_signup_checkbox_text" for="inputRememberMe">
                <span class="term-condition-section">
                  <span>{{ "I_am_over_18_years_old" | translate }} </span>
                <span>  <a routerLink="terms-of-use"  target="_blank">{{ "Terms_and_Conditions" | translate }}</a></span>
                <span> <a routerLink="policy" target="_blank">{{ "Privacy_Policy" | translate }}</a> </span>
                <span><a routerLink="responsibleRaffle" target="_blank">{{ "Usage_policy" | translate }}</a> </span>
                <span> {{ "and" | translate }}</span>
                <span><a routerLink="policy" target="_blank"> {{ "Cookies_Policy" | translate }}</a></span>
              </span>
              </label>
            </div>
          </div>

          <div
            *ngIf="wrongCredentials"
            [class.show]="wrongCredentials"
            class="wrong-credentials"
          >
            {{ "wrong_credentials" | translate }}
          </div>

          <button [disabled]="isEmailValid1"
            class="btn-rounded btn-login mt-3 btn-register"
            type="submit">

            <span *ngIf="loading; else loginText">Loading</span>
            <ng-template #loginText>
              <span [attr.data-hover]="'get_lucky' | translate | uppercase">{{
                "get_lucky" | translate | uppercase
              }}</span>
            </ng-template>
          </button>
        </form>
        <a
          href="javascript:"
          (click)="closeSignupPopUp()"
          class="forgot-pass transition signup_modal_already_text"
          style="font-family: 'Gellix';"
          >{{'i_already_have_an_account' | translate}}</a
        >
        <div class="social-login mt-3">
          <button type="button" (click)="facebookSignin()" class="btn-rounded rmv-btn-img m-0" title="Facebook"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0.75C11.2207 0.75 7.59612 2.25133 4.92373 4.92373C2.25133 7.59612 0.75 11.2207 0.75 15C0.75 18.7793 2.25133 22.4039 4.92373 25.0763C7.59612 27.7487 11.2207 29.25 15 29.25C18.7793 29.25 22.4039 27.7487 25.0763 25.0763C27.7487 22.4039 29.25 18.7793 29.25 15C29.25 11.2207 27.7487 7.59612 25.0763 4.92373C22.4039 2.25133 18.7793 0.75 15 0.75V0.75Z" fill="#039BE5"/>
            <path d="M16.929 18.777H20.6168L21.1958 15.0307H16.9283V12.9833C16.9283 11.427 17.4368 10.047 18.8925 10.047H21.2318V6.77775C20.8208 6.72225 19.9515 6.60075 18.309 6.60075C14.8793 6.60075 12.8685 8.412 12.8685 12.5385V15.0307H9.34277V18.777H12.8685V29.0737C13.5668 29.1787 14.274 29.25 15 29.25C15.6563 29.25 16.2968 29.19 16.929 29.1045V18.777Z" fill="white"/>
            </svg>
             </button>
          <button type="button" #regisRef class="btn-rounded rmv-btn-img m-0" title="Google">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M29.7083 12.0623H28.5V12H15V18H23.4773C22.2405 21.4928 18.9172 24 15 24C10.0297 24 6 19.9702 6 15C6 10.0297 10.0297 6 15 6C17.2943 6 19.3815 6.8655 20.9708 8.27925L25.2135 4.0365C22.5345 1.53975 18.951 0 15 0C6.71625 0 0 6.71625 0 15C0 23.2838 6.71625 30 15 30C23.2838 30 30 23.2838 30 15C30 13.9943 29.8965 13.0125 29.7083 12.0623Z" fill="#FFC107"/>
              <path d="M1.72949 8.01825L6.65774 11.6325C7.99124 8.331 11.2207 6 15 6C17.2942 6 19.3815 6.8655 20.9707 8.27925L25.2135 4.0365C22.5345 1.53975 18.951 0 15 0C9.23849 0 4.24199 3.25275 1.72949 8.01825Z" fill="#FF3D00"/>
              <path d="M15.0002 30C18.8747 30 22.3952 28.5172 25.057 26.106L20.4145 22.1775C18.9085 23.3182 17.0365 24 15.0002 24C11.0987 24 7.78598 21.5123 6.53798 18.0405L1.64648 21.8092C4.12898 26.667 9.17048 30 15.0002 30Z" fill="#4CAF50"/>
              <path d="M29.7083 12.0623H28.5V12H15V18H23.4773C22.8833 19.6778 21.804 21.1245 20.412 22.1782C20.4127 22.1775 20.4135 22.1775 20.4142 22.1768L25.0568 26.1052C24.7283 26.4037 30 22.5 30 15C30 13.9943 29.8965 13.0125 29.7083 12.0623Z" fill="#1976D2"/>
              </svg>
            </button>

            <button type="button" (click)="appleSignin()" class="btn-rounded rmv-btn-img m-0" title="Apple"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 496.255 608.728"><path d="M273.81 52.973C313.806.257 369.41 0 369.41 0s8.271 49.562-31.463 97.306c-42.426 50.98-90.649 42.638-90.649 42.638s-9.055-40.094 26.512-86.971zM252.385 174.662c20.576 0 58.764-28.284 108.471-28.284 85.562 0 119.222 60.883 119.222 60.883s-65.833 33.659-65.833 115.331c0 92.133 82.01 123.885 82.01 123.885s-57.328 161.357-134.762 161.357c-35.565 0-63.215-23.967-100.688-23.967-38.188 0-76.084 24.861-100.766 24.861C89.33 608.73 0 455.666 0 332.628c0-121.052 75.612-184.554 146.533-184.554 46.105 0 81.883 26.588 105.852 26.588z" fill="#999"/></svg>
            </button>
            
            </div>
      </div>
    </ng-container>

    <!-- Login image -->
    <div class="image-container"></div>
  </section>
    </div>
  <!-- <div class="video_section_signup"> -->
   <!-- <div class="video_section_signup"> -->
<div class="register-video" style="position: relative;">
  <!-- <img class="d-xl-none" alt="" src="assets/images/2raffle-logo.svg" /> -->
  
  <!-- <video playsinline autoplay="autoplay" [muted]="true" loop="true" *ngIf="ShowVideoImg" class="register_desktop_view">
  <source src="assets/video/Create_Your_Account.mp4" type="video/mp4" >
  </video> -->
  <img src="../../assets/images/modals/forget_password.png" alt="" class="register_desktop_view">
  <!-- <video playsinline autoplay="autoplay" [muted]="true" loop="true" class="register_tablet_view">
  <source src="assets/video/Create_Your_Account_340X160.mp4" type="video/mp4" >
  </video> -->
  <img src="../../assets/images/modals/forget_tablet.png" alt="" class="register_tablet_view">
  <!-- <video playsinline autoplay="autoplay" [muted]="true" loop="true" class="register_mobile_view" *ngIf="ShowVideoImg">
  <source src="assets/video/Create_Your_Account_243X180.mp4" type="video/mp4" >
  </video> -->
  <img src="../../assets/images/modals/forget_mobile.png" alt="" class="register_mobile_view" >
  <div>
    <h2>{{'signup_create_your_header_part_1' | translate}} {{'signup_create_your_header_part_2' | translate}}</h2>
  </div>
  </div>
  
  
  <!-- </div> -->
 
</div>

