.my-purchase-section {
    .main_heading {
        // display: flex;
        // align-items: center;
        h4 {
            font-size: 32px;
            font-family: 'Gellix';
            font-weight: 700;
            color: #232323;
            display: flex;
            align-items: center;
            margin-bottom: 4%;
        }
    }
}

.myPurchaseSec table thead tr th {
    background: #FF3C4C;
    color: #fff;
    font-size: 20px;
    font-family: 'Gellix';
    font-weight: 600;
}

.myPurchaseSec table tbody tr td {
    color: #999999;
    font-size: 16px;
    font-family: 'Gellix';
    font-weight: 400;
}

@media (min-width: 320px) and (max-width: 991px){
.my-purchase-section {
    .main_heading {
        h4 {
            font-size: 28px;
        }
    }
}
}

@media (max-width: 641px){
    .main_heading{
        text-align: center;
        h4{
            font-size: 23px!important;
            display: block!important;
        }
    }
}

// @media (max-width: 375px){

//     .main_heading{
//         h4{
//             font-size: 23px!important;
//         }
//     }
// }
