<!--ToDo: upd translations-->

<div class="modal-body flex-column payment-failed-popup">
  <section class="page p-3">
    <header>
      <button type="button" class="close payment-close" aria-label="Close" (click)="Activemodalclose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </header>
    <img class="login-logo-img" alt="" src="assets/images/2raffle-logo-black.svg" />
    <div class="form-container section-title h-100 justify-content-between thank-you-popup">
      <div class="form-title mt-xl-5 pt-5 mb-xl-4 d-flex flex-column justify-content-center w-100 align-items-center">
        <img class="rocket-img" alt="" src="assets/images/modals/payment-failed.svg"/>

        <p class="text-oops">{{'OOPS' | translate | uppercase}} !!</p>
      <h2 class="section-title" style="color: #180D1D;">{{'your_payment' | translate}} <br> {{'has_failed' | translate}} </h2>
      <div class="congratulation-btn">
        <button class="btn-rounded btn-try-again mb-3" type="submit">
        <span [attr.data-hover]="('try_again' | translate )" (click)="tryAgainEvent()">{{'try_again' | translate}}</span>
        </button>
    </div>

      </div>

      <div></div>
    </div>
  </section>
</div>
