$header-height: 50px;
$header-height-mobile: 80px;

$brand-color-red: #FF3C4C;
$brand-color-new-red: #DC1522;
$brand-color-dark: #232323;
$brand-color-white: #ffffff;
$brand-color-yellow: #f0b624;

$text-color: #180d1d;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1180px,
);

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
