@font-face {
    font-family: 'Gellix';
    src: local('Gellix Bold'), local('Gellix-Bold'),
        url('Gellix-Bold.woff2') format('woff2'),
        url('Gellix-Bold.woff') format('woff'),
        url('Gellix-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Gellix';
    src: local('Gellix Light'), local('Gellix-Light'),
        url('Gellix-Light.woff2') format('woff2'),
        url('Gellix-Light.woff') format('woff'),
        url('Gellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'Gellix';
    src: local('Gellix Medium'), local('Gellix-Medium'),
        url('Gellix-Medium.woff2') format('woff2'),
        url('Gellix-Medium.woff') format('woff'),
        url('Gellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

