<div class="modal-body">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <section class="page">

      <div class="form-container section-title">
        <img
          class="login-logo-img d-none d-xl-block"
          alt=""
          src="assets/images/logo_r.svg"
        />

        <div class="form-title mt-70" style="text-align: center;">
          <h2 style="color: #180D1D;" class="">{{'Awesome_!' | translate}}</h2>
          <img src="assets/images/check-circle-2.png">
          <p class="login-description">
            {{'Your_account_has_been_verified_successfully' | translate}}
          </p>
        </div>
        <button style="width: 275px; margin-bottom: 5px;" class="btn-rounded btn-varify mt-1" (click)="openToPurchase()">{{'Start_Purchasing' | translate}}</button>
      </div>
    </section>
    <div class="forgot-pass-img">
      <img class="d-xl-none" alt="" src="assets/images/2raffle-logo.svg" />
    </div>
  </div>
  <style>
    .otpinputdivstyle
    {
      /* margin-bottom: 117px; */
    }
    .mt-5, .my-5 {
      margin-top: 0rem !important;
  }

    </style>










