<!--ToDo: upd translations-->

<div class="modal-body">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeActiveModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="page">
    <app-loader *ngIf="loading else content"></app-loader>
    <ng-template #content>
      <div class="form-container section-title">
        <!-- Logo -->
        <img
          class="login-logo-img d-none d-xl-block"
          alt=""
          src="assets/images/logo_r.svg"
        />
        
        <div class="form-title choose-new-password">
          <!-- <div>
            <button style="margin: 10px;" type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
            <button style="margin: 10px;" type="button" (click)="facebookSignin()" class="btn btn-danger">Login with FaceBook</button>
          </div> -->
          <!-- <svg>
            <symbol id="login">
              <text dy=".35em" text-anchor="middle" x="50%" y="50%">
                {{ "LOGIN" | translate | uppercase }}
              </text>
            </symbol>
            <use class="text text-b" xlink:href="#login"></use>
            <use class="text" xlink:href="#login"></use>
            <use class="text" xlink:href="#login"></use>
            <use class="text" xlink:href="#login"></use>
            <use class="text" xlink:href="#login"></use>
            <use class="text" xlink:href="#login"></use>
          </svg> -->
          <h2 style="color: #180D1D;">{{ "choose_a_new_password" | translate | uppercase }}</h2>
          <p class="login-description modal-resize-font">
            <!-- {{ "Please enter your credentials to login" | translate }} -->
            {{ "dont_use_last_password" | translate }}
          </p>
        </div>

        <form
          #loginForm="ngForm"
          (ngSubmit)="sendNewPassword(loginForm)"
          [class.disabled]="loading"
          class="login-form"
        >
        
          <div class="form-group mb-4 mt-2">
            <div class="input-icon-wrap">
              <span class="input-icon transition"
              ><img src="assets/images/icons/password.svg" alt=""
              /></span>
              
              <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control input-with-icon"
              placeholder="{{'Password' | translate}}"
              name="login-email"
              required
              [pattern]="passwordStrengthRegex"
              [(ngModel)]="password"
              #passwordVal = "ngModel"
              autocomplete="off"
              />            
              <span
              class="form-feedback"
              [ngClass]="{
                show:
                passwordVal.errors && passwordVal.touched
              }"
            >
            <ng-container
                *ngIf="
                passwordVal.errors &&
                passwordVal.errors.required
                "
              >
                {{"password required" | translate }}
              </ng-container>
              </span>
              <span class="long-text password-error password-error-long-text">
            <ng-container
                *ngIf="
                passwordVal.errors &&
                passwordVal.errors.pattern
                "
              >
              {{ "password too weak" | translate }}
              </ng-container>
          </span>
          <span class="password-show" (click)="togglePasswordVisibility()">
            <img
              [src]="
                'assets/images/icons/' +
                (showPassword ? 'eye_on' : 'eye') +
                '.png'
              "
              alt=""
            />
          </span>
            </div>
          </div>
&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-group">
            <div class="input-icon-wrap">
              <span class="input-icon transition"
                ><img src="assets/images/icons/star.svg" alt=""
              /></span>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control input-with-icon"
                name="passwordAgain"
                placeholder="{{'retype_password' | translate}}"
                [(ngModel)]="passwordAgain"
                [pattern]="passwordStrengthRegex"
                (blur)="isEqual()"
                
                required
                #passwordAgainVal = "ngModel"
              />
              <!-- <span class="form-feedback">{{"password required" | translate}}</span> -->
              <span class="form-feedback1">
                <ng-container *ngIf="passwordAgainVal.touched && !isEqualPassword" >
                  {{"password_missmatch" | translate }}
                  </ng-container>
                </span>
              <span
              class="form-feedback">
                <ng-container *ngIf="passwordAgainVal.errors && passwordAgainVal.errors.required">
                {{"password required" | translate }}
              </ng-container>
            </span>
        </div>
       
          </div>
          <p *ngIf="linkExpireErrors" style="color: rgb(187, 45, 45);">
            {{linkExpireErrorsMsg}}
          </p>
          <button
            [disabled]="!isEqualPassword"
            class="btn-rounded btn-login mt-4"
            type="submit"
          >
            <span *ngIf="loading; else loginText">Loading</span>
            <ng-template #loginText>
                   <span style="font-size: 18px;" [attr.data-hover]="'confirm' | translate | uppercase">{{
                "confirm" | translate | uppercase
              }}</span>
            </ng-template>
          </button>

        </form>


      </div>
    </ng-template>

    <!-- Login image -->
    <div class="image-container"></div>
  </section>
  <div class="login-img">
    <img class="d-xl-none" alt="" src="assets/images/2raffle-logo.svg" />
  </div>
</div>
