<section class="section-how-to-win"
         data-aos="fade-up"
         data-aos-anchor-placement="top-bottom"
         data-aos-delay="0"
         data-aos-duration="1500"
         data-aos-easing="ease-in-out"
         data-aos-mirror="false"
         data-aos-offset="0"
         data-aos-once="false">
         <h2 class="text-center section-title">HOW  TO  WIN</h2>
  <!-- Section Title -->
  <!-- <div class="section-title">
    <svg>
      <symbol id="howtowin-text">
        <text dy=".35em" text-anchor="middle" x="50%" y="50%">{{'how_to_win' | translate | uppercase}}</text>
      </symbol>
      <use class="text text-b" xlink:href="#howtowin-text"></use>
      <use class="text" xlink:href="#howtowin-text"></use>
      <use class="text" xlink:href="#howtowin-text"></use>
      <use class="text" xlink:href="#howtowin-text"></use>
      <use class="text" xlink:href="#howtowin-text"></use>
      <use class="text" xlink:href="#howtowin-text"></use>
    </svg>
  </div> -->

  <!-- <div class="how-to-win">
    <div class="video-container">
      <video autoplay muted loop *ngFor="let item of items" [ngClass]="{'d-none': selectedItem?.id !== item.id}">
        <source src="{{item.srcVideo}}" type="video/mp4">
        {{'video_unsupported' | translate}}
      </video>
    </div> -->

    <!-- items container -->
    <!-- <div class="items-container">
      <div *ngFor="let item of items"
           (mouseout)='howToWin_out($event, item)'
           (mouseover)='howToWin_over($event, item)'
           class="item"
           [class.active]="selectedItem && (selectedItem.id === item.id)"
           [class.inactive]="selectedItem && (selectedItem.id !== item.id)"
      >
        <img [attr.alt]="('few_steps' | translate) + ' ' +  ('to_sign_in' | translate)"
             [src]="item?.srcDesktop || item?.srcDesktop"
             class="d-none d-md-block"
        >
        <img [attr.alt]="('few_steps' | translate) + ' ' +  ('to_sign_in' | translate)"
             [src]="item?.srcMobile"
             class="d-md-none"
        >
        <div class="content">
          <span class="number">{{item.id}}</span>
          <p>
            {{'few_steps' | translate}}
            <br>
            {{'to_sign_in' | translate}}</p>
        </div>
      </div>
    </div> -->

    <!-- Grid (Lines) -->
    <!-- <div class="grid-container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div> -->
  <!-- <div class="d-flex justify-content-center">
    <a class="btn-rounded btn-lets-start" href="#">
      <span [attr.data-hover]="'lets_start' | translate">{{'lets_start' | translate}}</span>
    </a>
  </div> -->
</section>
