<!-- Raffle page -->
<div class="page calculator-page">
  <!-- Background image -->
  <img class="background-blur-image" src="assets/images/calc-bg.jpg" />

  <!-- Content section -->
  <section [ngClass]="{ collapsed: collapsed }" class="content-section">
    <div class="calculator-container">
      <!-- Sub section raffle -->
      <div
        [ngClass]="{ hide: collapsed, xsHide2: showResultOnMobile }"
        class="calculator-sub-section raffle-sub-section"
      >
        <!-- Choose raffle -->
        <div ngbDropdown class="dropdown-custom">
          <button
            class="btn btn-dropdown btn-block"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Choose a Raffle
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="toggleInMobile()" ngbDropdownItem>
              WIN A IPAD
            </button>
            <button (click)="toggleInMobile()" ngbDropdownItem>
              TIME to Win A car wint...
            </button>
            <button (click)="toggleInMobile()" ngbDropdownItem>
              TIME to Win A car!
            </button>
          </div>
        </div>
        <div [ngClass]="{ xsHide: openInMobile, xsHide2: showResultOnMobile }">
          <!-- Time left to win -->
          <p class="label-small">Time left to win</p>
          <div class="raffle-countdown">
            <div id="flipdown" class="flipdown flipdown__theme-light">
              <div class="rotor-group">
                <div class="rotor-group-heading" data-before="Hours"></div>
                <div class="rotor">
                  <div class="rotor-leaf">
                    <figure class="rotor-leaf-rear">2</figure>
                    <figure class="rotor-leaf-front">2</figure>
                  </div>
                  <div class="rotor-top">2</div>
                  <div class="rotor-bottom">2</div>
                </div>
                <div class="rotor">
                  <div class="rotor-leaf">
                    <figure class="rotor-leaf-rear">3</figure>
                    <figure class="rotor-leaf-front">3</figure>
                  </div>
                  <div class="rotor-top">3</div>
                  <div class="rotor-bottom">3</div>
                </div>
              </div>
              <div class="rotor-group">
                <div class="rotor-group-heading" data-before="Minutes"></div>
                <div class="rotor">
                  <div class="rotor-leaf">
                    <figure class="rotor-leaf-rear">4</figure>
                    <figure class="rotor-leaf-front">4</figure>
                  </div>
                  <div class="rotor-top">4</div>
                  <div class="rotor-bottom">4</div>
                </div>
                <div class="rotor">
                  <div class="rotor-leaf">
                    <figure class="rotor-leaf-rear">8</figure>
                    <figure class="rotor-leaf-front">8</figure>
                  </div>
                  <div class="rotor-top">8</div>
                  <div class="rotor-bottom">8</div>
                </div>
              </div>
              <div class="rotor-group">
                <div class="rotor-group-heading" data-before="Seconds"></div>
                <div class="rotor">
                  <div class="rotor-leaf">
                    <figure class="rotor-leaf-rear">5</figure>
                    <figure class="rotor-leaf-front">5</figure>
                  </div>
                  <div class="rotor-top">5</div>
                  <div class="rotor-bottom">5</div>
                </div>
                <div class="rotor">
                  <div class="rotor-leaf flipped">
                    <figure class="rotor-leaf-rear">2</figure>
                    <figure class="rotor-leaf-front">3</figure>
                  </div>
                  <div class="rotor-top">2</div>
                  <div class="rotor-bottom">3</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Minimum Participants -->
          <p class="label-small mt-xs-4">Minimum Participants</p>
          <p class="participants-count">50,000</p>
          <!-- Returning Raffler -->
          <p class="label-small">Returning Raffler</p>
          <p>For every purchase you make, we upgrade your chance.</p>
        </div>
      </div>
      <!-- Sub section invest -->
      <div
        [ngClass]="{
          hide: collapsed,
          xsHide: openInMobile,
          xsHide2: showResultOnMobile
        }"
        class="calculator-sub-section invest-sub-section"
      >
        <p class="label-large">Choose your investment</p>
        <div class="seperator"></div>
        <div
          class="btn-group btn-group-toggle calc-radio-btns-container"
          ngbRadioGroup
          name="radioBasic"
        >
          <label ngbButtonLabel class="btn-custom radio-btn">
            <input ngbButton type="radio" [value]="15" /> 15$
            <span></span>
          </label>
          <label ngbButtonLabel class="btn-custom radio-btn">
            <input ngbButton type="radio" value="25" /> 25$
            <span></span>
          </label>
          <label ngbButtonLabel class="btn-custom radio-btn">
            <input ngbButton type="radio" [value]="55" /> 55$
            <span></span>
          </label>
        </div>
        <div class="d-none d-xl-block">
          <p class="label-large label-large-black">or</p>
          <p class="label-large mt-0 d-none d-xl-block">Enter your amount</p>
          <div class="seperator d-none d-xl-block"></div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="there is no wrong answer"
            />
          </div>
          <p class="astrix-text">*the price is in usd</p>
        </div>
        <div class="d-none d-md-inline-block d-xl-none">
          <div class="form-group d-inline-block">
            <input
              type="text"
              class="form-control p-md-0"
              placeholder="or enter your amount"
            />
          </div>
        </div>
        <div class="d-md-none mobile-calculation">
          <div class="form-group">
            <span> or enter </span>
            <input
              type="text"
              class="form-control p-md-0"
              placeholder="your amount"
            />
          </div>
          <button
            class="btn-rounded btn-small w-100"
            (click)="showResultOnMobile = !showResultOnMobile"
          >
            <span data-hover="Calculation">Calculation</span>
          </button>
        </div>
      </div>
      <!-- Sub section tickets -->
      <div
        [ngClass]="{ show: showResultOnMobile }"
        class="calculator-sub-section tickets-sub-section"
      >
        <img
          class="tickets-icon"
          src="assets/images/tickets-icon.svg"
          alt="Tickets"
        />
        <img
          class="rocket-icon"
          src="assets/images/modals/thank-you.svg"
          alt="Rocket"
        />
        <p class="tickets-count">200 tickets</p>
        <button class="btn-rounded btn-small" (click)="rotateArrow()">
          <span class="calc" data-hover="Calculation">Calculation</span>
          <span class="buy" data-hover="Buy now">Buy Now</span>
        </button>
      </div>
      <!-- Odds gauge -->
      <div class="odd-gauge-container" (click)="collapsed = !collapsed">
        <img
          class="odd-gauge"
          src="assets/images/odds-gauge.png"
          alt="Odds gauge"
        />
        <div class="niddle-container">
          <img class="niddle" src="assets/images/icons/niddle.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
